src/dmBaseTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://isds.czechpoint.cz/v20" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://isds.czechpoint.cz/v20" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>XSD schema typů použitých ve WSDL pro manipulaci s datovými zprávami</xs:documentation>
  </xs:annotation>
	<xs:simpleType name="tIdDm">
		<xs:annotation>
			<xs:documentation>ID datové zprávy</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tIdDb">
		<xs:annotation>
			<xs:documentation>ID datové schránky</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="tFile">
		<xs:choice>
			<xs:element name="dmXMLContent">
				<xs:annotation>
					<xs:documentation>obálka pro libovolný XML obsah</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dmEncodedContent" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>obálka pro písemnost libovolného podporovaného formátu</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tFilesArray">
		<xs:sequence>
			<xs:element name="dmFile" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Jedna písemnost DZ (=soubor nebo XML )</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="false">
					<xs:complexContent>
						<xs:extension base="tns:tFile">
							<xs:attribute name="dmMimeType" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>typ písemnosti v MIME zápisu, např. application/pdf nebo image/tiff</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="dmFileMetaType" use="required">
								<xs:annotation>
									<xs:documentation>výčet typů písemností, main je pouze jedna</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="main"/>
										<xs:enumeration value="enclosure"/>
										<xs:enumeration value="signature"/>
										<xs:enumeration value="meta"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="dmFileGuid" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation>nepovinný interní identifikátor tohoto dokumentu - pro vytváření stromu závislostí dokumentů</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="dmUpFileGuid" type="xs:string">
								<xs:annotation>
									<xs:documentation>nepovinný interní identifikátor nadřízeného dokumentu (např. pro vztah soubor - podpis aj.)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="dmFileDescr" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>může obsahovat jméno souboru, příp. jiný popis. Objeví se v seznamu příloh na portále</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="dmFormat" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation>nepovinný údaj - odkaz na definici formuláře</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tStatus">
		<xs:sequence>
			<xs:element name="dmStatusCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>kód chyby nebo stavu (0000 - bez chyby, 0001 - odložení zprac.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmStatusMessage" type="xs:string">
				<xs:annotation>
					<xs:documentation>popis chyby česky</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="dmStatus" type="tns:tStatus"/>
	<xs:complexType name="tHash">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="algorithm" type="xs:string">
					<xs:annotation>
						<xs:documentation>Algoritmus hashovací funkce, např. SHA-1</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:group name="dmEvent">
		<xs:sequence>
			<xs:element name="dmEventTime" type="xs:dateTime" nillable="true"/>
			<xs:element name="dmEventDescr" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="tEvent">
		<xs:sequence>
			<xs:group ref="tns:dmEvent"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tEventsArray">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="dmEvent" type="tns:tEvent"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="gMessageEnvelopeSub">
		<xs:annotation>
			<xs:documentation>Obálka zprávy bez ID DZ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dmSenderOrgUnit" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Organizační jednotka odesílatele slovně; nepovinné, mohou doplňovat ESS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmSenderOrgUnitNum" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>Organizační jednotka odesílatele hodnotou z číselníku; ESS, nepovinné</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dbIDRecipient" type="tns:tIdDb" nillable="true">
				<xs:annotation>
					<xs:documentation>ID datové schránky příjemce</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmRecipientOrgUnit" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Organizační jednotka příjemce slovně, nepovinné, možné upřesnění příjemce při podání z portálu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmRecipientOrgUnitNum" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>Organizační jednotka příjemce hodnotou z číselníku; ESS, nepovinné</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmToHands" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>K rukám - pomocný údaj </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmAnnotation" nillable="true">
				<xs:annotation>
					<xs:documentation>Textová poznámka (Věc, Předmět, Anotace)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmRecipientRefNumber" nillable="true">
				<xs:annotation>
					<xs:documentation>Číslo jednací za strany příjemce; nepovinné, </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmSenderRefNumber" nillable="true">
				<xs:annotation>
					<xs:documentation>Číslo jednací za strany odesílatele; nepovinné</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmRecipientIdent" nillable="true">
				<xs:annotation>
					<xs:documentation>Spisová značka ze strany příjemce; nepovinné</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmSenderIdent" nillable="true">
				<xs:annotation>
					<xs:documentation>Spisová značka a strany odesílatele; nepovinné</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmLegalTitleLaw" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>Zmocnění - číslo zákona; ESS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmLegalTitleYear" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>Zmocnění - rok vydání zákona; ESS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmLegalTitleSect" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Zmocnění - paragraf v zákoně; ESS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmLegalTitlePar" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Zmocnění - odstavec v paragrafu; ESS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmLegalTitlePoint" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Zmocnění - písmeno v odstavci; ESS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmPersonalDelivery" type="xs:boolean" nillable="true">
				<xs:annotation>
					<xs:documentation>Příznak Do vlastních rukou - může číst pouze adresát nebo osoba s explicitně daným oprávněním</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmAllowSubstDelivery" type="xs:boolean" nillable="true">
				<xs:annotation>
					<xs:documentation>Náhradní doručení povoleno/nepovoleno - pouze pro některé subjekty (např. soudy)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="gMessageEnvelope">
		<xs:annotation>
			<xs:documentation>Kompletní obálka zprávy včetně ID DZ a ostatních elementů, které se nezadávají při vytvoření DZ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dmID" type="tns:tIdDm">
				<xs:annotation>
					<xs:documentation>ID datové zprávy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dbIDSender" type="tns:tIdDb" nillable="true">
				<xs:annotation>
					<xs:documentation>ID datové schránky odesílatele</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmSender" nillable="true">
				<xs:annotation>
					<xs:documentation>Odesílatel slovně; doplňuje ISDS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmSenderAddress" nillable="true">
				<xs:annotation>
					<xs:documentation>Poštovní adresa odesílatele - požadavek ESS; doplňuje ISDS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmSenderType" type="xs:int">
				<xs:annotation>
					<xs:documentation>hrubý typ schránky odesílatele (10=OVM,20=PO,30=PFO,40=FO)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmRecipient" nillable="true">
				<xs:annotation>
					<xs:documentation>Příjemce slovně; doplňuje ISDS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmRecipientAddress" nillable="true">
				<xs:annotation>
					<xs:documentation>Poštovní adresa příjemce - požadavek ESS; doplňuje ISDS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmAmbiguousRecipient" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Příznak, že adresát je ne-OVM povýšené na OVM (§5a)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="tns:gMessageEnvelopeSub"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="tReturnedMessage">
		<xs:annotation>
			<xs:documentation>typ pro staženou DZ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dmDm">
				<xs:annotation>
					<xs:documentation>Datová zpráva</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="tns:gMessageEnvelope"/>
						<xs:element name="dmFiles" type="tns:tFilesArray">
							<xs:annotation>
								<xs:documentation>Pole písemností DZ</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dmHash" type="tns:tHash">
				<xs:annotation>
					<xs:documentation>Hash kompletní DZ (z elementu dmDm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmQTimestamp" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>Kvalifikované časové razítko</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmDeliveryTime" type="xs:dateTime" nillable="true">
				<xs:annotation>
					<xs:documentation>čas dodání do DS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmAcceptanceTime" type="xs:dateTime" nillable="true">
				<xs:annotation>
					<xs:documentation>čas doručení</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmMessageStatus" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Stav DZ (dodaná, doručená atd.); celé číslo 1-9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmAttachmentSize" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tReturnedMessageEnvelope">
		<xs:annotation>
			<xs:documentation>typ pro staženou obálku DZ (bez písemností, hash neplatí)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dmDm">
				<xs:complexType>
					<xs:group ref="tns:gMessageEnvelope"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dmHash" type="tns:tHash">
				<xs:annotation>
					<xs:documentation>Hash kompletní DZ vč. písemností, hash nejde spočítat z obálky!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmQTimestamp" type="xs:base64Binary"/>
			<xs:element name="dmDeliveryTime" type="xs:dateTime" nillable="true"/>
			<xs:element name="dmAcceptanceTime" type="xs:dateTime" nillable="true"/>
			<xs:element name="dmMessageStatus" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Stav DZ - celé číslo 1-9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmAttachmentSize" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tMessageEnvelopeSub">
		<xs:annotation>
			<xs:documentation>typ pro WS CreateMessage na vstupu</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="tns:gMessageEnvelopeSub"/>
			<xs:element name="dmOVM" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tMessageCreateInput">
		<xs:sequence>
			<xs:element name="dmEnvelope" type="tns:tMessageEnvelopeSub"/>
			<xs:element name="dmFiles" type="tns:tFilesArray"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreateMessage" type="tns:tMessageCreateInput"/>
	<xs:complexType name="tMessageCreateOutput">
		<xs:sequence>
			<xs:element name="dmID" type="tns:tIdDm" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dmStatus" type="tns:tStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreateMessageResponse" type="tns:tMessageCreateOutput"/>
	<xs:element name="VerifyMessage" type="tns:tIDMessInput"/>
	<xs:complexType name="tMessageVerifyOutput">
		<xs:sequence>
			<xs:element name="dmHash" type="tns:tHash" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dmStatus" type="tns:tStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VerifyMessageResponse" type="tns:tMessageVerifyOutput"/>
	<xs:complexType name="tDelivery">
		<xs:annotation>
			<xs:documentation>typ pro Dodejku, Doručenku a Nedoručenku</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dmDm">
				<xs:complexType>
					<xs:group ref="tns:gMessageEnvelope"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dmHash" type="tns:tHash"/>
			<xs:element name="dmQTimestamp" type="xs:base64Binary"/>
			<xs:element name="dmDeliveryTime" type="xs:dateTime" nillable="true"/>
			<xs:element name="dmAcceptanceTime" type="xs:dateTime" nillable="true"/>
			<xs:element name="dmMessageStatus" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Stav DZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmEvents" type="tns:tEventsArray">
				<xs:annotation>
					<xs:documentation>pole událostí dané DZ (obvykle jen dodání a doručení)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetDeliveryInfo" type="tns:tIDMessInput"/>
	<xs:complexType name="tDeliveryMessageOutput">
		<xs:sequence>
			<xs:element name="dmDelivery" type="tns:tDelivery" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dmStatus" type="tns:tStatus" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetDeliveryInfoResponse" type="tns:tDeliveryMessageOutput"/>
	<xs:element name="GetSignedDeliveryInfo" type="tns:tIDMessInput"/>
	<xs:complexType name="tSignDelivMessOutput">
		<xs:sequence>
			<xs:element name="dmSignature" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dmStatus" type="tns:tStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetSignedDeliveryInfoResponse" type="tns:tSignDelivMessOutput"/>
	<xs:complexType name="tRecord">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="dmOrdinal">
				<xs:annotation>
					<xs:documentation>Pořadové číslo v seznamu</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:group ref="tns:gMessageEnvelope"/>
			<xs:element name="dmMessageStatus" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Stav DZ, celé číslo 1 - 9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmAttachmentSize" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmDeliveryTime" type="xs:dateTime" nillable="true">
				<xs:annotation>
					<xs:documentation>Čas dodání</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmAcceptanceTime" type="xs:dateTime" nillable="true">
				<xs:annotation>
					<xs:documentation>Čas doručení</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tRecordsArray">
		<xs:annotation>
			<xs:documentation>typ pro vrácený seznam DZ</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="dmRecord" type="tns:tRecord"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tListOfSentInput">
		<xs:sequence>
			<xs:element name="dmFromTime" type="xs:dateTime" nillable="true">
				<xs:annotation>
					<xs:documentation>čas dodání od</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmToTime" type="xs:dateTime" nillable="true">
				<xs:annotation>
					<xs:documentation>čas dodání do</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmSenderOrgUnitNum" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>org. jednotka odesílatele - číselník ESS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmStatusFilter" type="xs:string">
				<xs:annotation>
					<xs:documentation>filtr na stav zprávy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmOffset" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>od kolikátého záznamu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmLimit" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>kolik záznamů</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tListOfMessOutput">
		<xs:sequence>
			<xs:element name="dmRecords" type="tns:tRecordsArray" nillable="true" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>pole výsledků</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmStatus" type="tns:tStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tListOfFReceivedInput">
		<xs:sequence>
			<xs:element name="dmFromTime" type="xs:dateTime" nillable="true">
				<xs:annotation>
					<xs:documentation>čas dodání od</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmToTime" type="xs:dateTime" nillable="true">
				<xs:annotation>
					<xs:documentation>čas dodání do</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmRecipientOrgUnitNum" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>org. jednotka příjemce - z číselníku ESS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmStatusFilter" type="xs:string">
				<xs:annotation>
					<xs:documentation>filtr na stav zprávy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmOffset" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>od kolikátého záznamu (od 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmLimit" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>kolik záznamů</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetListOfSentMessages" type="tns:tListOfSentInput"/>
	<xs:element name="GetListOfSentMessagesResponse" type="tns:tListOfMessOutput"/>
	<xs:element name="GetListOfReceivedMessages" type="tns:tListOfFReceivedInput"/>
	<xs:element name="GetListOfReceivedMessagesResponse" type="tns:tListOfMessOutput"/>
	<xs:complexType name="tIDMessInput">
		<xs:sequence>
			<xs:element name="dmID" type="tns:tIdDm"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tMessDownOutput">
		<xs:sequence>
			<xs:element name="dmReturnedMessage" type="tns:tReturnedMessage" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dmStatus" type="tns:tStatus" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MessageDownload" type="tns:tIDMessInput"/>
	<xs:element name="MessageDownloadResponse" type="tns:tMessDownOutput"/>
	<xs:complexType name="tMessEnvelDownOutput">
		<xs:sequence>
			<xs:element name="dmReturnedMessageEnvelope" type="tns:tReturnedMessageEnvelope" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dmStatus" type="tns:tStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MessageEnvelopeDownload" type="tns:tIDMessInput"/>
	<xs:element name="MessageEnvelopeDownloadResponse" type="tns:tMessEnvelDownOutput"/>
	<xs:complexType name="tSignedMessDownOutput">
		<xs:sequence>
			<xs:element name="dmSignature" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dmStatus" type="tns:tStatus" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SignedMessageDownload" type="tns:tIDMessInput"/>
	<xs:element name="SignedMessageDownloadResponse" type="tns:tSignedMessDownOutput"/>
	<xs:complexType name="tMarkMessOutput">
		<xs:sequence>
			<xs:element name="dmStatus" type="tns:tStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MarkMessageAsDownloaded" type="tns:tIDMessInput"/>
	<xs:element name="MarkMessageAsDownloadedResponse" type="tns:tMarkMessOutput"/>
	<xs:element name="SignedSentMessageDownload" type="tns:tIDMessInput"/>
	<xs:element name="SignedSentMessageDownloadResponse" type="tns:tSignedMessDownOutput"/>
	<xs:element name="DummyOperation" type="xs:string" nillable="true"/>
</xs:schema>
