src/ermsTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--CHANGE 2011-04-28 Změny proti verzi připomínkované výrobci spisových služeb ze dne 24.4.2011 jsou označeny přímo v textu komentáře, začínajícími stejně jako tento řádek. Tyto změny se snaží uplatnit některé jejich připomínky. -->
<xs:schema xmlns:isds="http://isds.czechpoint.cz/v20" xmlns="http://nsess.public.cz/erms/v_02_00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nsess.public.cz/erms/v_02_00" elementFormDefault="qualified" id="ermsIFTypes">
	<xs:import namespace="http://isds.czechpoint.cz/v20" schemaLocation="dmBaseTypes.xsd"/>
	<xs:complexType name="tAutorizace">
		<xs:sequence>
			<xs:element name="provedlKdo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="provedlKdy" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tPrebirajici">
		<xs:sequence>
			<xs:element name="novyZpracovatel">
				<xs:annotation>
					<xs:documentation>Označení nového zpracovatele.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="predanoKdy" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="gSpolecneDokSpis">
		<xs:annotation>
			<xs:documentation>Skupina metadat společná jak pro popis dokumentu tak pro popis spisu. Jedná se o kopii ze schématu ess_ns.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!--CHANGE 2011-04-28 Přidání nového elementu pro společný profil dokumentu a spisu. -->
			<xs:element name="BarCode" type="sBarCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="sNazev"/>
			<xs:element name="Popis" type="sPopis" minOccurs="0"/>
			<xs:element name="CisloJednaci" type="sCisloJednaci" minOccurs="0"/>
			<xs:element name="SpisovaZnacka" type="sSpisovaZnacka" minOccurs="0"/>
			<xs:element name="PodaciDenikPoradi" type="sPodaciDenikPoradi" minOccurs="0"/>
			<xs:element name="PodaciDenikRok" type="sPodaciDenikRok" minOccurs="0"/>
			<xs:element name="PodaciDenik" type="sPodaciDenik" minOccurs="0"/>
			<xs:element name="DatumCasVytvoreni" type="sDatumCasVytvoreni"/>
			<xs:element name="TypDokumentu" type="sTypDokumentu" minOccurs="0"/>
			<!--CHANGE v. 2.0.  elementy SpisovyPlan a SpisovyZnak přesunuty do komplexního typu tVecnaSkupina. -->
			<xs:element name="VecnaSkupina" type="tVecnaSkupina" minOccurs="0"/>
			<!--CHANGE v. 2.0.  elementy SkartacniZnak a SkartacniLhuta přesunuty do komplexního typu tSkartacniRezim, který obsahuje navíc i spouštěcí událost. -->
			<xs:element name="SkartacniRezim" type="tSkartacniRezim" minOccurs="0"/>
			<xs:element name="Poznamka" type="sPoznamka" minOccurs="0"/>
			<xs:element name="Zmocneni" type="tZmocneni" minOccurs="0"/>
			<xs:element name="SouvisejiciSubjekty" type="tSouvisejiciSubjekty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Seznam subjektů, které nějak souvisí s dokumentem nebo spisem.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="tDoplnujiciData">
		<xs:annotation>
			<xs:documentation>Jakákoliv další doprovodná data, která nejsou součástí této specifikace. Např. zde mohou být data potřebná pro výměnu informací s agendovým systémem.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Položka ZpusobVedeni byla přesunuta přímo do komplexního typu ProfilSpisu - tato položka neumožňuje dodatečnou editaci. -->
	<xs:complexType name="tDoplnujiciDataSpis">
		<xs:annotation>
			<xs:documentation>Jakákoliv další doprovodná data, která nejsou součástí této specifikace. Např. zde mohou být data potřebná pro výměnu informací s agendovým systémem.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Položky PocetListu, PocetPriloh, DruhPriloh byly přesunuty do komplexních typů tProfilDokumentuUprava a tProfilDokumentu. -->
	<xs:complexType name="tDoplnujiciDataDokument">
		<xs:annotation>
			<xs:documentation>Jakákoliv další doprovodná data, která nejsou součástí této specifikace. Např. zde mohou být data potřebná pro výměnu informací s agendovým systémem.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tIdDokument">
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Původní komplexní typ ( v původní struktuře ) byl přejmenován z tProfilDokumentu na tProfilDokumentuUprava.
	Důvodem pro tuto změnu byla nutnost odlišit, které položky lze editovat přímou změnou hodnot od všech ostatních položek, které jsou předávány jako kompletní popis dokumentu např. při postoupení.
	-->
	<xs:complexType name="tProfilDokumentuUprava">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Profilové informace o dokumentu určené pro přímou editaci v rámci služby DokumentUprava.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:group ref="gSpolecneDokSpis" minOccurs="0"/>
			<xs:element name="CjOdesilatel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>číslo jednací podání, pod kterým byl dokument veden v systému spisové služby odesilatele (vaše značka)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PocetListu" type="xs:int"/>
			<xs:element name="PocetPriloh" type="xs:int"/>
			<xs:element name="DruhPriloh" type="xs:string"/>
			<xs:element name="PocetListuPriloh" type="xs:int">
				<xs:annotation>
					<xs:documentation xml:lang="CS">2016-06-15 Přidáno - proti profilu dokumentu to zde chybělo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DoplnujiciData" type="tDoplnujiciDataDokument" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Původní komplexní typ ( v původní struktuře ) byl přejmenován z tProfilSpisu na tProfilSpisuUprava.
	Důvodem pro tuto změnu byla nutnost odlišit, které položky lze editovat přímou změnou hodnot od všech ostatních položek, které jsou předávány jako kompletní popis spisu např. při postoupení.
	-->
	<xs:complexType name="tProfilSpisuUprava">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Přímo editovatelné profilové údaje popisující spis. 
Neobsahuje vazební data, která se musí ke spisu připojit voláním specifických služeb.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:group ref="gSpolecneDokSpis"/>
			<xs:element name="DoplnujiciData" type="tDoplnujiciDataSpis" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tIdSpisu">
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Byl přidán nový komplexní typ tFile. 
	Tento typ je podobný datovému typu použitému v rámci ISDS ale doplňuje identifikátor a popisné atributy, které upřesňují vlastnosti obecného elektronického souboru. 
	Oproti verzi popsané v ISDS je odstraněn elementr dmXmlContent - ERMS systémy pracují se soubory a zde by byl uveden pouze fragment XML dat. Nebylo zřejmé, jak s takovým fragmentem zacházet v rámci ERMS. Proto byl pro svou nejednoznačnost tento prvek odstraněn. 
	Pro přenos obecných, doplňkových dat jsou ve schématu umístěny elementy DoplnujiciData, pro přenos obsahu elektronických souborů je to dmEncodedContent. -->
	<xs:complexType name="tFile">
		<xs:sequence>
			<xs:element name="dmEncodedContent" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>obálka pro písemnost libovolného podporovaného formátu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identifikator" type="tIdentifikator"/>
		</xs:sequence>
		<xs:attribute name="dmMimeType" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="CS">Typ obsahu souboru v MIME zápisu, např. application/pdf nebo image/tiff</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dmFileDescr" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="CS">Musí se vždy jednat o jméno souboru, splňující požadavky Windows a Linux OS, kladené na pojmenování souboru v rámci souborového systému, včetně přípony souboru.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dmFinalniVerze" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="CS">Označuje, zda je soubor již ve finálním (neměnitelném) tvaru. Není-li atribut uveden, pak má stejný význam jako hodnota N. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="A"/>
					<xs:enumeration value="N"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<!--CHANGE v. 2.0. -->
	</xs:complexType>
	<xs:complexType name="tFileLink">
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
		</xs:sequence>
		<xs:attribute name="dmFileMetaType" use="required">
			<xs:annotation>
				<xs:documentation>výčet typů písemností, main je pouze jedna</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="main"/>
					<xs:enumeration value="enclosure"/>
					<xs:enumeration value="signature"/>
					<xs:enumeration value="meta"/>
					<xs:enumeration value="dorucenka"/>
					<xs:enumeration value="protokol_overeni_podpisu"/>
					<!--CHANGE v. 2.0. -->
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dmFileGuid" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Interní identifikátor souboru unikátní v rámci všech ERMS organizace.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dmUpFileGuid" type="xs:string">
			<xs:annotation>
				<xs:documentation>Nepovinný interní identifikátor nadřízeného dokumentu (např. pro vztah soubor - podpis aj.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dmFileDescr" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Musí obsahovat jméno souboru, splňující požadavky Windows a Linux OS, kladené na pojmenování souboru v rámci souborového systému, včetně přípony souboru.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dmFinalniVerze" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="CS">2016-06-15 Označuje, zda je soubor již ve finálním (neměnitelném) tvaru. Není-li atribut uveden, pak má stejný význam jako hodnota N. 
U odkazu je tento atribut uveden pro situace, kdy se obsah souboru bude přenášet s pomocí REST služby a nebude se tedy využívat tFile</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="A"/>
					<xs:enumeration value="N"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tFileLinkZalozeni">
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
		</xs:sequence>
		<xs:attribute name="dmFileMetaType" use="optional">
			<xs:annotation>
				<xs:documentation>výčet typů písemností, main je pouze jedna</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="main"/>
					<xs:enumeration value="enclosure"/>
					<xs:enumeration value="signature"/>
					<xs:enumeration value="meta"/>
					<xs:enumeration value="dorucenka"/>
					<xs:enumeration value="protokol_overeni_podpisu"/>
					<!--CHANGE v. 2.0. -->
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dmFileGuid" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Interní identifikátor souboru unikátní v rámci všech ERMS organizace.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dmUpFileGuid" type="xs:string">
			<xs:annotation>
				<xs:documentation>Nepovinný interní identifikátor nadřízeného dokumentu (např. pro vztah soubor - podpis aj.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dmFileDescr" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Musí obsahovat jméno souboru, splňující požadavky Windows a Linux OS, kladené na pojmenování souboru v rámci souborového systému, včetně přípony souboru.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dmFinalniVerze" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="CS">2016-06-15 Označuje, zda je soubor již ve finálním (neměnitelném) tvaru. Není-li atribut uveden, pak má stejný význam jako hodnota N. 
U odkazu je tento atribut uveden pro situace, kdy se obsah souboru bude přenášet s pomocí REST služby a nebude se tedy využívat tFile</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="A"/>
					<xs:enumeration value="N"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tFileId">
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Byl změněn datový typ na tFileLink definovaný v tomto jmenném prostoru -->
	<xs:complexType name="tFileLinksArray">
		<xs:annotation>
			<xs:documentation>Pole odkazů na místa obsahující binární obrazy soubory.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dmFileLink" type="tFileLink" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Bylo změněno jméno tohoto prvku.  Sjednocení jmenné konvence.-->
	<!--CHANGE 2011-04-28 Bylo použit nový datový typ tFileArray a vypuštěna jedna úroveň vnoření ( prvek tFile ), která zde neměla žádné opodstatnění. -->
	<xs:complexType name="tFilesIdArray">
		<xs:sequence>
			<xs:element name="dmFileId" type="tFileId" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="gStavVypraveneZasilky">
		<xs:sequence>
			<xs:element name="StavZasilky">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:enumeration value="nevypraveno">
							<xs:annotation>
								<xs:documentation>
													Nevypraveno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vypraveno">
							<xs:annotation>
								<xs:documentation>
													Vypraveno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="doruceno">
							<xs:annotation>
								<xs:documentation>
													Doručeno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-jiny-duvod-overeno">
							<xs:annotation>
								<xs:documentation>
													Vráceno - jiný důvod (ověřeno).
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-jiny-duvod-neovereno">
							<xs:annotation>
								<xs:documentation>
													Vráceno - jiný důvod (neověřeno).
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-adresat-neznamy">
							<xs:annotation>
								<xs:documentation>
													Vráceno - adresát neznámý.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-adresat-se-odstehoval">
							<xs:annotation>
								<xs:documentation>
													Vráceno - adresát se odstěhoval bez udání adresy.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-neprijato">
							<xs:annotation>
								<xs:documentation>
													Vráceno - nepřijato.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-nevyzadano">
							<xs:annotation>
								<xs:documentation>
													Vráceno - nevyžádáno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="nedoruceno-zpracovano">
							<xs:annotation>
								<xs:documentation>
													Nedoručeno - zpracováno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-adresa-nedostatecna">
							<xs:annotation>
								<xs:documentation>
													Vráceno - adresa nedostatečná.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="stornovano">
							<xs:annotation>
								<xs:documentation>
													Stornováno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="tOperaceStatus">
		<xs:sequence>
			<xs:element name="Kod">
				<xs:annotation>
					<xs:documentation>Návratový kód operace. Hodnota 0000 je pro korektní dokončení operace.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Popis" nillable="true">
				<xs:annotation>
					<xs:documentation>Český popis výsledku operace. Byla-li dokončena korektně, může být hodnota prázdná.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tObalka">
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:element name="Adresat" type="tAdresat"/>
			<xs:element name="ZasilkaInfo" type="tZasilkaInfo"/>
			<xs:element name="ObalkaObsah">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Vypraveni" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Identifikator" type="tIdentifikator"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tZasilkaInfo">
		<xs:annotation>
			<xs:documentation>Popis parametrů zásilky. Druh, způsob zacházení, datum vypravení, stav doručení atd..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TextAdresy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TextAdresy je nepovinná část, která umožňuje přenést z jednoho systému do druhého požadavek, jak má být vytištěna obálková adresa. Formátování tisku obálkové adresy nemusí přesně odpovídat strukturovanému popisu doručovací adresy.

Údaje zadané v strukturované části doručovací adresy mají přednost před údaji zadanými v této části. Tato část je spíše doplňkovou informací ke strukturované formě adresy a slouží pouze pro řízení tisku obálky, ne pro strojní zpracování dat o subjektu a jeho doručovací adrese.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdresaRadek1" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>První řádek zásilkové adresy.

Většinou oslovení</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AdresaRadek2" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Druhý řádek zásilkové adresy.

Většinou funkce nebo konkrétní osoba ( u firem nebo organizací )</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AdresaRadek3" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Třetí řádek zásilkové adresy.

Většinou obchodní jméno nebo jméno a příjmení.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AdresaRadek4" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Čtvrtý řádek zásilkové adresy.

Většinou ulice.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AdresaRadek5" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Pátý řádek zásilkové adresy.

Většinou částo obce</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AdresaRadek6" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Šestý řádek zásilkové adresy.

Většinou město.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AdresaRadek7" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Sedmý řádek zásilkové adresy.

Většinou PSČ</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AdresaRadek8" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Osmý řádek zásilkové adresy.

Většinou stát</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- ZpusobManipulace -->
			<xs:choice minOccurs="0">
				<xs:element name="ZpusobManipulaceId">
					<xs:annotation>
						<xs:documentation>ZpusobManipulace vyjadřuje, jakým způsobem byl dokumentu doručen.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Posta"/>
							<xs:enumeration value="Osobne"/>
							<xs:enumeration value="VerejnaVyhlaska"/>
							<xs:enumeration value="DetasovanaPosta"/>
							<xs:enumeration value="Kuryr"/>
							<xs:enumeration value="DorucovaciSluzba"/>
							<xs:enumeration value="ElektronickaPosta"/>
							<xs:enumeration value="Fax"/>
							<xs:enumeration value="DalnopisTelegram">
								<xs:annotation>
									<xs:documentation>
                    Tento druh doručení již neexistuje a proto by se v nových datech neměl vůbec vyskytnout. 
					Je zde zařazen pouze pro případné použití nad starými daty.
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Telefon"/>
							<xs:enumeration value="UstneDoProtokolu"/>
							<xs:enumeration value="EPodatelnaNosic"/>
							<xs:enumeration value="EPodatelnaWeb"/>
							<xs:enumeration value="EPodatelnaMail"/>
							<xs:enumeration value="Rep">
								<xs:annotation>
									<xs:documentation>
                    Tento druh doručení jiý neexistuje a proto by se v nových datech neměl vůbec vyskytnou. 
					Je zde zařazen pouze pro případné použití nad starými daty.
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DatovaSchranka"/>
							<!-- Tento způsob doručení byl vyřazen, protože je velmi problematické definovat, zda je el.podání podepsáno celé nebo pouze část přišlých souborů, zda je podpis platný a zda je akceptovatelný původcem atd.. ( není definováno, co patří do této kategorie )
				<xs:enumeration value="EPodatelnaMailElPodpis" /> 
				-->
						</xs:restriction>
						<!--CHANGE 2011-04-28 Změně výčtu povolených typů - Odebrán typ EPodatelnaMailElPodpis, protože není specifikovatelné, která podání do této kategorie patří. Podpis může být obecně spojen i s dalšími typy elektronických podání. -->
					</xs:simpleType>
				</xs:element>
				<xs:element name="ZpusobManipulaceText" type="xs:string">
					<xs:annotation>
						<xs:documentation>
              Pojmenování způsobu manipulace.
              Tento prvek se použije pouze v případě, že nelze použít jednu z možností uvedenou ve výčtu možných hodnot položky "ZpusobManipulaceId".
            </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<!-- ZpusobZachazeni -->
			<!--CHANGE v. 2.0. : odstranen ZpusobZachazeniId a Text -->
			<xs:element name="PostovniSluzby">
				<xs:annotation>
					<xs:documentation>K zásilce specifikuje kombinaci poštovních služeb. 
Povolené kombinace služeb lze získat z textů na: 
http://www.ceskaposta.cz/cz/nastroje/dokumenty-ke-stazeni-id355/
http://www.ceskaposta.cz/assets/nastroje/kompletni_cenik.pdf
http://www.ceskaposta.cz/assets/nastroje/zps.pdf

Bohužel, toto schéma bude pro určité časové období pevné, ale obchodní podmínky České pošty se mohou měnit kdykoliv.
</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PostovniSluzbaId" minOccurs="0" maxOccurs="unbounded">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Dodejka"/>
									<xs:enumeration value="DoVlastnichRukou"/>
									<xs:enumeration value="DoVlastnichRukouVyhradne"/>
									<xs:enumeration value="Dobirka"/>
									<xs:enumeration value="NeprodluzovatOdberniLhutu"/>
									<xs:enumeration value="UdanaCena"/>
									<xs:enumeration value="Neskladne"/>
									<xs:enumeration value="NeskladneII"/>
									<xs:enumeration value="Krehke"/>
									<xs:enumeration value="Pilne"/>
									<xs:enumeration value="Doplatne"/>
									<xs:enumeration value="OdpovedniZasilky"/>
									<xs:enumeration value="OpakovaneDodaniBezne"/>
									<xs:enumeration value="OpakovaneDodaniZvlastni"/>
									<xs:enumeration value="ZkraceniOdberniLhuty3Dny"/>
									<xs:enumeration value="ZkraceniOdberniLhuty10Dni"/>
									<xs:enumeration value="ProdlouzeniOdberniLhuty1Mesic"/>
									<xs:enumeration value="ZkraceniOdberniLhuty7Dni"/>
									<xs:enumeration value="Neukladat"/>
									<xs:enumeration value="NeprodluzovatLhutu"/>
									<xs:enumeration value="NevracetVlozitDoSchranky"/>
									<xs:enumeration value="Nevracet"/>
									<xs:enumeration value="NevkladatDoSchranky"/>
									<xs:enumeration value="TerminovanaVyplata"/>
									<xs:enumeration value="Nedosilat"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PostovniSluzbaText" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="CS">Tento prvek se použije pouze v případě, že Česká pošta ( nebo časem jiný poskytovatel poštovních služeb ) vytvoří novou službu, která není obsažena v této verzi standardu.
Této textové podoby určení poštovní služby se nesmí zneužívat pro "usnadnění si práce". 
Zde použité textové konstanty musí být vždy dohodnuty s komunikující protistranou v rámci každé implementace rozhraní.
</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- DruhZasilky -->
			<xs:choice minOccurs="0">
				<xs:element name="DruhZasilkyId">
					<xs:annotation>
						<xs:documentation>DruhZasilky vyjadřuje jakým druhem zásilky byl daný dokument doručen</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ObycejnyBalik">
								<xs:annotation>
									<xs:documentation>
                    obyčejný balík
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DoporucenyBalicek">
								<xs:annotation>
									<xs:documentation>
                    doporučený balíček
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="StandardniBalikDoZahranici">
								<xs:annotation>
									<xs:documentation>
                    standardní balík do zahraničí
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="CennePsani">
								<xs:annotation>
									<xs:documentation>
                    cenné psaní
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="CennePsaniDoZahranici">
								<xs:annotation>
									<xs:documentation>
                    cenné psaní do zahraničí
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="CennyBalik">
								<xs:annotation>
									<xs:documentation>
                   cenný balík
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="CennyBalikDoZahranici">
								<xs:annotation>
									<xs:documentation>
                    cenný balík do zahraničí
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ObycejnePsani">
								<xs:annotation>
									<xs:documentation>
                    obyčejné psaní
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DoporucenaZasilka">
								<xs:annotation>
									<xs:documentation>
                    doporučená zásilka
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ObycejnaZasilkaDoZahranici">
								<xs:annotation>
									<xs:documentation>
                    obyčejná zásilka do zahraničí
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DoporucenaZasilkaDoZahranici">
								<xs:annotation>
									<xs:documentation>
                    doporučená zásilka do zahraničí
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ObycejnaSlepeckaZasilka">
								<xs:annotation>
									<xs:documentation>
                    obyčejná slepecká zásilka
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DoporucenaSlepeckaZasilka">
								<xs:annotation>
									<xs:documentation>
                    doporučená slepecká zásilka
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ObycejnaSlepeckaZasilkaDoZahranici">
								<xs:annotation>
									<xs:documentation>
                    obyčejná slepecká zásilka do zahraničí
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DoporucenaSlepeckaZasilkaDoZahranici">
								<xs:annotation>
									<xs:documentation>
                    doporučená slepecká zásilka do zahraničí
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ObycejnePsaniStandard">
								<xs:annotation>
									<xs:documentation>
                    obyčejné psaní - standard
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DoporucenaZasilkaStandard">
								<xs:annotation>
									<xs:documentation>
                    doporučená zásilka - standard
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ObchodniPsani">
								<xs:annotation>
									<xs:documentation>
                    obchodní psaní
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ObchodniPsaniDoZahranici">
								<xs:annotation>
									<xs:documentation>
                    obchodní psaní do zahraničí
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ObchodniBalikDoZahranici">
								<xs:annotation>
									<xs:documentation>
                    obchodní balík do zahraničí
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ObchodniBalik">
								<xs:annotation>
									<xs:documentation>
                    obchodní balík
                  </xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
						<!--CHANGE 2011-04-28 Změně výčtu povolených typů - aktualizace do stavu podle České pošty -->
					</xs:simpleType>
				</xs:element>
				<xs:element name="DruhZasilkyText" type="xs:string">
					<xs:annotation>
						<xs:documentation>
              Pojmenování způsobu zacházení se zásilkou.
              Tento prvek se použije pouze v případě, že nelze použít jednu z možností uvedenou ve výčtu možných hodnot položky "DruhZasilkyId".
            </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="DatumVypraveni" type="xs:date" minOccurs="0"/>
			<!--CHANGE v. 2.0 -->
			<xs:element name="CasVypraveni" type="xs:time" minOccurs="0"/>
			<xs:element name="Vaha" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Váha zásilky</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Poplatek" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poplatek za odeslání zásilky</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PodaciCislo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Podací číslo pošty, která písemnost přijala.
									</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="30"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdZasilky" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pro snadnější dohledání zásilky při, např. návratu doručenky, bývají obálky opatřeny textem nebo čárovým kódem, který slouží pro identifikaci zásilky. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="30"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StavZasilky" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:enumeration value="nevypraveno">
							<xs:annotation>
								<xs:documentation>
													Nevypraveno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vypraveno">
							<xs:annotation>
								<xs:documentation>
													Vypraveno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="doruceno">
							<xs:annotation>
								<xs:documentation>
													Doručeno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-jiny-duvod-overeno">
							<xs:annotation>
								<xs:documentation>
													Vráceno - jiný důvod (ověřeno).
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-jiny-duvod-neovereno">
							<xs:annotation>
								<xs:documentation>
													Vráceno - jiný důvod (neověřeno).
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-adresat-neznamy">
							<xs:annotation>
								<xs:documentation>
													Vráceno - adresát neznámý.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-adresat-se-odstehoval">
							<xs:annotation>
								<xs:documentation>
													Vráceno - adresát se odstěhoval bez udání adresy.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-neprijato">
							<xs:annotation>
								<xs:documentation>
													Vráceno - nepřijato.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-nevyzadano">
							<xs:annotation>
								<xs:documentation>
													Vráceno - nevyžádáno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="nedoruceno-zpracovano">
							<xs:annotation>
								<xs:documentation>
													Nedoručeno - zpracováno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="vraceno-adresa-nedostatecna">
							<xs:annotation>
								<xs:documentation>
													Vráceno - adresa nedostatečná.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="stornovano">
							<xs:annotation>
								<xs:documentation>
													Stornováno.
												</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Poznamka" type="xs:string" minOccurs="0"/>
			<xs:element name="DatumDoruceni" type="xs:date" minOccurs="0"/>
			<!--CHANGE v. 2.0 -->
			<xs:element name="CasDoruceni" type="xs:time" minOccurs="0"/>
			<xs:element name="OdkazyNaSoubory" type="tFileLinksArray" minOccurs="0"/>
			<xs:element name="dmID" type="isds:tIdDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID datové zprávy</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="tUdalostId">
		<xs:annotation>
			<xs:documentation>Jednoznačná identifikace události v rámci dávky.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:attributeGroup name="gUdalostId">
		<xs:annotation>
			<xs:documentation>Jednoznačná identifikace události v rámci dávky.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="UdalostId" type="xs:int" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="gDavkaInfo">
		<xs:attribute name="Poradi" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Pořadí dávky událostí vygenerované v rámci komunikace mezi dvěma ERMS. Pořadí bude z vzestupné nepřerušované řady v rámci jednoho zákazníka a kombinace ERMS (zdroj) - ERMS (cíl).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Zdroj" use="required">
			<xs:annotation>
				<xs:documentation>Kódové označení toho ERMS, které dávku událostí připravuje. Kód by měl být shodný s označením ERMS při generování jednoznačných identifikátorů, tedy jej přiděluje původce.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Cil" use="required">
			<xs:annotation>
				<xs:documentation>Kódové označení toho ERMS, které dávku událostí zpracovává. Kód by měl být shodný s označením ERMS při generování jednoznačných identifikátorů, tedy jej přiděluje původce.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DatumVzniku" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>Datum vzniku dávky událostí.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="gDavkaInfoResponse">
		<xs:annotation>
			<xs:documentation xml:lang="CS">2016-06-15 Pomocné informace odpovědní dávky.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Poradi" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="CS">2016-06-15 Má obsahovat stejnou hodnotu jako je hodnota atributu Poradi u přijaté dávky.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DatumZpracovani" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation xml:lang="CS">2016-06-15 Datum ukončení příjmu a zpracování dávky.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="tVypraveni">
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:element name="Adresat" type="tAdresat"/>
			<xs:element name="ZasilkaInfo" type="tZasilkaInfo"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Byl založen nový komplexní typ tProfilDokumentu.Obsahuje kompletní popis dokumentu, který se používá např. při postoupení. -->
	<xs:complexType name="tProfilDokumentu">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Kompletní profilové informace o dokumentu. 
Tento profil je určen pro export kompletních dat o dokumetnu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:group ref="gSpolecneDokSpis" minOccurs="0"/>
			<xs:element name="CjOdesilatel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>číslo jednací podání, pod kterým byl dokument veden v systému spisové služby odesilatele (vaše značka)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PocetListu" type="xs:int"/>
			<xs:element name="PocetPriloh" type="xs:int"/>
			<xs:element name="DruhPriloh" type="xs:string"/>
			<!--CHANGE v. 2.0 -->
			<xs:element name="PocetListuPriloh" type="xs:int"/>
			<xs:element name="DoplnujiciData" type="tDoplnujiciDataDokument" minOccurs="0"/>
			<!--CHANGE 2015-06-24 Převedeno na nový komplexní typ tDoruceni. -->
			<xs:element name="Doruceni" type="tDoruceni" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="CS">Přítomností tohoto elementu je určeno, že se jedná o doručený dokument.
Pokud tento element není přítomen, potom se jedná o vlastní dokument.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vypraveni" type="tVypraveni" minOccurs="0" maxOccurs="unbounded"/>
			<!--CHANGE 2011-04-28 Byla odtraněna možnost přenášet obsahy souborů společně s popisnými daty dokumenů. 
		Záměrem této změny je zajistit přenos i rozsáhlých spisů. 
		Samotné obsahy ( elektronické dokumenty ) musí být přenášeny odděleně od popisných dat dokumentu. 
		U synchronního rozhraní budou obsahy přenášeny následně po přenosu popisných dat a to dodatečným voláním webové služby, která požadovaný obsah poskytne. 
		U asynchronního rozhraní tomu bude naopak. Nejprve budou přeneseny obsahy a teprve následně se přenesou popisná data dokumentu, který se na obsah odkazuje. 
		Toto obrácené pořadí je u asynchronního přenosu nutné pro zajištění konzistence dat popisovaného a přenášeného dokumentu.
		-->
			<xs:element name="OdkazyNaSoubory" type="tFileLinksArray" minOccurs="0"/>
			<!--CHANGE v. 2.0: odstraněna povinnost uvádět související dokumenty. -->
			<xs:element name="SouvisejiciDokument" type="tSouvisejiciDokument" minOccurs="0" maxOccurs="unbounded"/>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilSpisuZadost byla přidána položka, která má pouze informativní charakter: Kdo je aktuálním vlastníkem spisu.  -->
			<xs:element name="VlastniKdo">
				<xs:annotation>
					<xs:documentation xml:lang="CS">Označení aktuálního zpracovatele - aktuálního vlastníka dokumentu a současně osoby, která je zodpovědná za zpracování (vyřízení) dokumentu.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilDokumentuZadost byla přidána položka, která má pouze informativní charakter: V jakém stavu vyřizování se dokument nachází.  -->
			<xs:element name="StavDokumentu">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="nevyrizen"/>
						<xs:enumeration value="vyrizen"/>
						<xs:enumeration value="uzavren"/>
						<xs:enumeration value="predanDoSpisovny"/>
						<xs:enumeration value="predanDoArchivu"/>
						<xs:enumeration value="stornovan"/>
						<xs:enumeration value="skartovan"/>
						<!--CHANGE v. 2.0. : pridana nova hodnota skartovan -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Vyrizeni" type="tVyrizeni" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="CS">2016-06-15
Byl odstraněn element DatumCasVyrizeni a byl nahrazen 
komplexním nepovinným prvkem Vyrizeni.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilSpisuZadost byla přidána položka, která má pouze informativní charakter: Kdy byl spis uzavřen. Položka je uvedena pouze v případě, že byl spis již vyřízen. V případě zrušení uzavření se tato položka neuvádí.  -->
			<xs:element name="DatumCasUzavreni" type="xs:dateTime" minOccurs="0"/>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilSpisuZadost byla přidána položka, která má pouze informativní charakter: Kdy byl spis uzavřen. Položka je uvedena pouze v případě, že byl spis již předán do spisovny a to po jeho uzavření. V případě zrušení uzavření a vyjmutí ze spisovny se tato položka neuvádí.  -->
			<xs:element name="DatumCasPredaniDoSpisovny" type="xs:dateTime" minOccurs="0"/>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilSpisuZadost byla přidána položka, která má pouze informativní charakter: Kdy byl spis předán do archivu. Položka je uvedena pouze v případě, že byl spis již předán do archivu nebo skartovan.  -->
			<xs:element name="DatumCasPredaniDoArchivuNeboSkartace" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Byl založen nový komplexní typ tSouvisejiciDokument. Tento typ je podobný datovému typu použitému v rámci ISDS ale doplňuje identifikátor. Tento typ se ve schématech opakoval a definováním tohoto typu se vše zpřehlední. -->
	<xs:complexType name="tSouvisejiciDokument">
		<xs:annotation>
			<xs:documentation>Výčet odkazů na dokumenty související s řešením problematiky daného dokumentu, primárně vyřizující odpověď.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:element name="DuvodId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="odpoved"/>
						<xs:enumeration value="souvisejici"/>
						<xs:enumeration value="iniciacni"/>
						<xs:enumeration value="kopie"/>
						<xs:enumeration value="original"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DuvodText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Textové vyjádření důvodu vazby.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2011-04-28 Byl založen nový komplexní typ tProfilSpisu. Obsahuje kompletní popis spisu, který se používá např. při postoupení. -->
	<xs:complexType name="tProfilSpisu">
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:group ref="gSpolecneDokSpis"/>
			<xs:element name="ZpusobVedeni">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Priorace"/>
						<xs:enumeration value="SbernyArch"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DoplnujiciData" type="tDoplnujiciDataSpis" minOccurs="0"/>
			<xs:element name="DokumentyVlozene">
				<xs:annotation>
					<xs:documentation>Je-li použit element VlozenyDokumentUplny, pak jsou nejprve založeny dokumenty uvedené v tomto elementu, poté je založen spis kde iniciačním dokumentem je ten, který má  PoradiVeSpisu rovno 1 a poté jsou do spisu vloženy i další dokumenty.
					Při variantě VlozenyDokumentId je předpokládáno, že  je spis zákládán nad již existujícím dokumentem (PoradiVeSpisu = 1), jsou-li uvedeny i jiné idDokument, jsou vloženy do založeného spisu.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:choice>
							<xs:element name="DokumentUplnyVlozeny">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ProfilDokumentu" type="tProfilDokumentu"/>
										<xs:element name="PoradiVeSpisu">
											<xs:annotation>
												<xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="2147483647"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StavZarazeniDoSpisu">
											<xs:annotation>
												<xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Vlozen"/>
													<xs:enumeration value="Vyjmut"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DokumentIdVlozeny">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IdDokument" type="tIdDokument"/>
										<xs:element name="PoradiVeSpisu">
											<xs:annotation>
												<xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="2147483647"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StavZarazeniDoSpisu">
											<xs:annotation>
												<xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Vlozen"/>
													<xs:enumeration value="Vyjmut"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilSpisuZadost byla přidána položka, která má pouze informativní charakter: Kdo je aktuálním vlastníkem spisu.  -->
			<xs:element name="VlastniKdo">
				<xs:annotation>
					<xs:documentation xml:lang="CS">Označení aktuálního zpracovatele - aktuálního vlastníka dokumentu a současně osoby, která je zodpovědná za zpracování (vyřízení) dokumentu.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilSpisuZadost byla přidána položka, která má pouze informativní charakter: V jakém stavu vyřizování se spis nachází.  -->
			<xs:element name="StavSpisu">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="nevyrizen"/>
						<xs:enumeration value="vyrizen"/>
						<xs:enumeration value="uzavren"/>
						<xs:enumeration value="predanDoSpisovny"/>
						<xs:enumeration value="predanDoArchivu"/>
						<xs:enumeration value="stornovan"/>
						<xs:enumeration value="skartovan"/>
						<!--CHANGE v. 2.0. : pridana nova hodnota skartovan-->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Vyrizeni" type="tVyrizeni" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="CS">2016-06-15
Byl odstraněn element DatumCasVyrizeni a byl nahrazen 
komplexním nepovinným prvkem Vyrizeni.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilSpisuZadost byla přidána položka, která má pouze informativní charakter: Kdy byl spis uzavřen. Položka je uvedena pouze v případě, že byl spis již vyřízen. V případě zrušení uzavření se tato položka neuvádí.  -->
			<xs:element name="DatumCasUzavreni" type="xs:dateTime" minOccurs="0"/>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilSpisuZadost byla přidána položka, která má pouze informativní charakter: Kdy byl spis uzavřen. Položka je uvedena pouze v případě, že byl spis již předán do spisovny a to po jeho uzavření. V případě zrušení uzavření a vyjmutí ze spisovny se tato položka neuvádí.  -->
			<xs:element name="DatumCasPredaniDoSpisovny" type="xs:dateTime" minOccurs="0"/>
			<!--CHANGE 2011-04-28 Pro potřeby služby ProfilSpisuZadost byla přidána položka, která má pouze informativní charakter: Kdy byl spis předán do archivu. Položka je uvedena pouze v případě, že byl spis již předán do archivu nebo skartovan.  -->
			<xs:element name="DatumCasPredaniDoArchivuNeboSkartace" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE v. 2.0.  Byl založen nový komplexní typ tPolozkaCiselniku. -->
	<xs:complexType name="tPolozkaCiselniku">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Položka číselníku. Z důvodu obecnosti jsou všechny vnořené elementy ponechány jako nepovinné. Alespoň jeden z elementů by však měl být vždy uveden.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator" minOccurs="0"/>
			<xs:element name="Kod" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód položky číselníku. Z důvodu obecnosti není omezen rozsah. Rozsah pro konkrétní číselník může specifikovat poskytující ERMS ve vlastním metodickém popisu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Text" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Text položky číselníku. Z důvodu obecnosti není omezen rozsah. Rozsah pro konkrétní číselník může specifikovat poskytující ERMS ve vlastním metodickém popisu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE v. 2.0.  Byl založen nový komplexní typ tVecnaSkupina. -->
	<xs:complexType name="tVecnaSkupina">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Věcná skupina.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:sequence>
				<xs:element name="SpisovyPlan">
					<xs:annotation>
						<xs:documentation xml:lang="cs">Stručný popis/označení spisového a skartačního plánu</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SpisovyZnak">
					<xs:annotation>
						<xs:documentation xml:lang="cs">Označení ukládacího znaku (330.0) nebo popis znaku spisového a  skartačního plánu</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<!--CHANGE v. 2.0.  Byl založen nový komplexní typ tSkartacniRezim. -->
	<xs:complexType name="tSkartacniRezim">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Skartační režim.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:sequence>
				<xs:element name="SkartacniZnak">
					<xs:annotation>
						<xs:documentation xml:lang="cs">A-archivace, S-skartace, V-vytřídění na základě skartačního řízení.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="A"/>
							<xs:enumeration value="S"/>
							<xs:enumeration value="V"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SkartacniLhuta">
					<xs:annotation>
						<xs:documentation xml:lang="cs">Skartační nebo archivační lhůta v letech.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedShort">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SpousteciUdalost" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="cs">Prvek pro zaznamenání kritéria, kterým je stanoven začátek plynutí skartační lhůty.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<!--CHANGE v. 2.0. -->
	<xs:complexType name="tDavka">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Dávka událostí.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Poradi" type="xs:int">
				<xs:annotation>
					<xs:documentation>Pořadí dávky událostí vygenerované v rámci komunikace mezi dvěma ERMS. Pořadí bude z vzestupné nepřerušované řady v rámci jednoho zákazníka a kombinace ERMS (zdroj) - ERMS (cíl).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumVzniku" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum vzniku dávky událostí.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE v. 2.0. pridany typy z ess_ns.xsd -->
	<xs:complexType name="tIdentifikator">
		<xs:annotation>
			<xs:documentation>Obecný interní identifikátor informačního systému. 
Součástí informace obsažené v tomto prvku je i  určení, který informační systém tento identifikátor vytvořil.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HodnotaID">
				<xs:annotation>
					<xs:documentation xml:lang="CS">Hodnota identifikátoru</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ZdrojID">
				<xs:annotation>
					<xs:documentation xml:lang="CS">Zdroj interního identifikátoru:
Zde uvedený text by měl jednoznačně specifikovat zdroj uvedeného identifikátoru.

</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tZmocneni">
		<xs:annotation>
			<xs:documentation>Určuje právní normu, podle které je daná věc vyřizována</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LegalTitleLaw">
				<xs:annotation>
					<xs:documentation>Zmocnění - číslo zákona</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LegalTitleYear">
				<xs:annotation>
					<xs:documentation>Zmocnění - rok vydání zákona</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1900"/>
						<xs:totalDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LegalTitleSect" type="xs:string">
				<xs:annotation>
					<xs:documentation>Zmocnění - paragraf v zákoně</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegalTitlePar" type="xs:string">
				<xs:annotation>
					<xs:documentation>zmocnění - odstavec v paragrafu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegalTitlePoint" type="xs:string">
				<xs:annotation>
					<xs:documentation>Zmocnění - písmeno v odstavci</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tSouvisejiciSubjekty">
		<xs:sequence>
			<xs:element name="SouvisejiciSubjekt" type="tSouvisejiciSubjekt" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tSouvisejiciSubjekt">
		<xs:annotation>
			<xs:documentation>Matadata souvisejících subjektů (typický příklad jsou subjekty správního řízení např. účastníci, dotčené orgány a další subjekty)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Subjekt" type="tSubjekt"/>
			<xs:element name="Duvodvazby" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text důvodu vazby subjektu na dokument nebo spis.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tSubjekt">
		<xs:annotation>
			<xs:documentation>Metadata obecného subjektu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- Identifikator -->
			<xs:element name="Identifikator" type="tIdentifikator" minOccurs="0" maxOccurs="unbounded"/>
			<!-- TypSubjektu -->
			<xs:element name="TypSubjektu">
				<xs:annotation>
					<xs:documentation>Typ subjektu vyjadřuje právní forma subjektu a případný způsob zastoupení tohoto subjektu.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Neurceno">
							<xs:annotation>
								<xs:documentation>
                  Neurčeno slouží pouze pro případy, kdy není právní forma subjektu známa.
                </xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Fyzicka"/>
						<xs:enumeration value="Osvc">
							<xs:annotation>
								<xs:documentation>
                  Jedná se o záznam typu "Fyzicka", která vystupuje ve věci svého podnikání.
                </xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Pravnicka"/>
						<xs:enumeration value="Zamestnanec">
							<xs:annotation>
								<xs:documentation>
                  Jedná se o záznam typu "Pravnicka", kterou ale zastupuje jeden konkrétní zaměstnanec.
                  Při zadání tohoto typu záznamu se očekává vyplnění položek "Jmeno", "Prijmeni", "FunkceUtvarIdentifikator", "FunkceUtvarPopis"
                </xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Utvar">
							<xs:annotation>
								<xs:documentation>
                  Jedná se o záznam typu "Pravnicka", u kterého je ale upřesněn jeden konkrétní útvar organizace.
                  Při zadání tohoto typu záznamu se očekává vyplnění položek "FunkceUtvarIdentifikator", "FunkceUtvarPopis"
                </xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- ObchodniNazev -->
			<xs:element name="ObchodniNazev" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Element se neuvádí pouze v případě že TypSubjektu="Fyzicka".</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- IČO -->
			<xs:element name="IC" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IČO se uvádí, pokud je subjektu IČO přiděleno a je v době pořízení záznamu známé.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"/>
						<xs:pattern value="[0-9]{0,8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- DatumNarozeni -->
			<!-- MistoNarozeni -->
			<xs:element name="DatumNarozeni" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Datum narození.
            Element se uvádí pouze v případě že TypSubjektu="Fyzicka" nebo TypSubjektu="Osvc" a to pouze v případě, že je nutné odlišit dvě osoby stejného jména a stejného trvalého bydliště.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MistoNarozeni" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Místo narození.
            Element se uvádí pouze v případě že TypSubjektu="Fyzicka" nebo TypSubjektu="Osvc" a to pouze v případě, že je nutné odlišit dvě osoby stejného jména a stejného trvalého bydliště.
          </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Jmeno -->
			<xs:element name="Jmeno" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Element se neuvádí v případě TypSubjektu="Pravnicka" a value="Utvar".</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Prijmeni -->
			<xs:element name="Prijmeni" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Element se neuvádí v případě že TypSubjektu="Pravnicka" a value="Utvar".</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Osloveni -->
			<xs:element name="Osloveni" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Element se neuvádí v případě že TypSubjektu="Pravnicka" a value="Utvar".</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- TitulPred -->
			<xs:element name="TitulPred" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Element se neuvádí v případě že TypSubjektu="Pravnicka" a value="Utvar".</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- TitulZa -->
			<xs:element name="TitulZa" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Element se neuvádí v případě že TypSubjektu="Pravnicka" a value="Utvar".</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- FunkceUtvarPopis -->
			<xs:element name="FunkceUtvarPopis" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Element se uvádí pouze v případě že TypSubjektu="Pravnicka" a value="Utvar".</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- FunkceUtvarIdentifikator -->
			<xs:element name="FunkceUtvarIdentifikator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Element se uvádí pouze v případě že TypSubjektu="Pravnicka" a value="Utvar".</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Poznamka -->
			<xs:element name="Poznamka" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Adresy -->
			<xs:element name="Adresy" type="tAdresy" minOccurs="0"/>
			<!-- DoplnujiciData -->
			<xs:element name="DoplnujiciData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Jakákoliv další doprovodná data, která nejsou součástí této specifikace.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAdresy">
		<xs:annotation>
			<xs:documentation>Adresy, které jsou spojeny s jedním subjektem. 

Tyto adresy slouží k určení (popisu) subjektu. 

Subjekt, např. v systémech spisových služeb, může být popsán velmi neúplnými informacemi. Např. již komunikace se subjektem s pomocí mailu vynucuje zaznamenat popis takového subjektu do systému, ale přitom subjekt lze identifikovat pouze na základě mailové adresy. Podobně neúplné informace je nutné zaznamenávat u papírové korespondence atd..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AdresaPostovni" type="tAdresaPostovni" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdresaDS" type="tAdresaDS" minOccurs="0"/>
			<xs:element name="AdresaElektronicka" type="tAdresaElektronicka" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAdresaPostovni">
		<xs:annotation>
			<xs:documentation>Metadata poštovní adresy ( pro doručování fyzických zásilek )</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifikátor adresy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Obec" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Název obce</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CastObce" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Název části obce</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MestskaCast" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Název městské části</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ulice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Název ulice</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EvidencniCislo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Evidenční číslo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:pattern value="[0-9]{0,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrientacniCislo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Orientační číslo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PopisneCislo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Popisné číslo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{0,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Psc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poštovní směrovací číslo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Návrh: Do popisu uvést, že přípustné hodnoty státu jsou pouze na základě číselníku xxxxx 
      ( doplnit libovolný, dnes užívaný číselník států např. ISVS AAA nebo jiný ) -->
			<xs:element name="Zeme" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kód zkratky státu dle číselníku ČSÚ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RuianVazba" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Registr územní identifikace,  adres a nemovitostí (zkratka „RUIAN“)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Poznamka" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="POBOX" minOccurs="0">
				<xs:annotation>
					<xs:documentation>POBOX</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TypAdresy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typ poštovní adresy a to ve vztahu k subjektu.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Neurceno"/>
						<xs:enumeration value="Dorucovaci"/>
						<xs:enumeration value="TrvaleBydliste"/>
						<xs:enumeration value="PrechodneBydliste"/>
						<xs:enumeration value="SidloFirmy"/>
						<xs:enumeration value="PobockaFirmy"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DodaciPosta" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Název dodací pošty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Okres" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Název okresu</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- AdresaDS -->
	<xs:complexType name="tAdresaDS">
		<xs:annotation>
			<xs:documentation>Metadata identifikátoru datové schránky</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdDb" type="isds:tIdDb">
				<xs:annotation>
					<xs:documentation>Id datové schránky</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgUnitNum" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Organizační jednotka hodnotou z číselníku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgUnit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Organizační jednotka slovně.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- AdresaElektronicka -->
	<xs:complexType name="tAdresaElektronicka">
		<xs:annotation>
			<xs:documentation>Metadata elektronické adresy ( mail, fax, rep, .. )</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator" minOccurs="0"/>
			<xs:element name="Typ">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="tel"/>
						<xs:enumeration value="fax"/>
						<xs:enumeration value="mail"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Kontakt">
				<xs:annotation>
					<xs:documentation>Hodnota elektronické adresy, např. telefonní číslo, nebo email adresa.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="254"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAdresat">
		<xs:annotation>
			<xs:documentation>Popis adresáta jako subjektu, jeho identifikačních atributů, jeho známých adres a jedné aktuálně použité adresy ( použité při procesu vypravení nebo častěji doručení zásilky ).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Subjekt" type="tSubjekt">
				<xs:annotation>
					<xs:documentation>Popis subjektu, kterému je doručováno. Informace zde uvedené nejsou doručovací adresou. Slouží pouze pro popis subjektu.

Tato část nemusí být vyplněna, protože např. při komunikaci mailem nemusí být přesný popis subjektu znám.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adresa" type="tAdresa">
				<xs:annotation>
					<xs:documentation>Adresa, na kterou je doručováno. Musí být zadána právě jedna adresa ze zde uvedeného výběru možných způsobů adresování.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAdresa">
		<xs:annotation>
			<xs:documentation>Při procesu vypravení je nutné jednoznačně určit jednu adresu, na kterou bylo vypraveno. 
Přitom podle použitého způsobu vypravení se formát adresy výrazně odlišuje. Proto je zaveden tento prvek, který z možných formátů  jednoznačně určuje právě jeden formát a jednu adresu.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="AdresaPostovni" type="tAdresaPostovni">
				<xs:annotation>
					<xs:documentation>Adresa pro dodání fyzické zásilky a to prostředky fyzického světa.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdresaDS" type="tAdresaDS">
				<xs:annotation>
					<xs:documentation>Adresa pro realizaci elektronicého doručení prostřednictvím systémem ISDS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdresaElektronicka" type="tAdresaElektronicka">
				<xs:annotation>
					<xs:documentation>Adresa pro realizaci elektronicého doručení jiného než systémem ISDS.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tVyrizeni">
		<xs:sequence>
			<xs:element name="ZpusobVyrizeni" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="dokumentem"/>
						<xs:enumeration value="postoupenim"/>
						<xs:enumeration value="vzetimNaVedomi"/>
						<xs:enumeration value="zaznamemNaDokumentu"/>
						<xs:enumeration value="jinyZpusob"/>
						<!--CHANGE v. 2.0. : upraven vycet hodnot -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DatumCasVyrizeni">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ObsahVyrizeni" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Prvek je povinný v případě, že byla v prvku "ZpusobVyrizeni" vybrána hodnota "jiný způsob". Zaznamená se věcná informace o výsledku vyřízení (obsah vyřizujícího sdělení).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Oduvodneni" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Prvek je povinný v případě, že byla do prvku "ZpusobVyrizeni" vybrána hodnota "jiný způsob". Nejčastěji se zaznamená vyřízení jiným způsobem, než zpracováním dokumentu, tedy s využitím například komunikačního prostředku (například telefonem, ústním jednáním apod.).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--CHANGE 2015-06-24 Byl založen nový komplexní typ tDoruceni. -->
	<xs:complexType name="tDoruceni">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Informace o doručení zásilky.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Odesilatel" type="tAdresat"/>
			<xs:element name="ZasilkaInfo" type="tZasilkaInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sNazev">
		<xs:annotation>
			<xs:documentation>Krátká věc vystihující obsah dokumentu nebo spisu.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sBarCode">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Tento element je určen pro uchování hodnoty čárového kódu, kterým může být označen dokument nebo spis a to jak v jejich fyzické, tak i elektronické podobě.
		S pomocí hodnoty tohoto elementu je možné propojit fyzický a elektronický svět tak, aby se uživatelům usnadnilo vyhledávání fyzických dokumentů v aplikacích IS.
		V případě dokumentu může být hodnota této položky prohlášena původcem za jednoznačný identifikátor dokumentu ve smyslu § 64 zákona č. 499/2004 Sb.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sPopis">
		<xs:annotation>
			<xs:documentation>Podrobný popis obsahu dokumentu nebo spisu.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sCisloJednaci">
		<xs:annotation>
			<xs:documentation>Položka "CisloJednaci" může obsahovat i obecnou značku dokumentu, např. číslo faktury atd..
										Nemusí se tedy jednat důsledně vždy pouze o ČJ.
										Může se jednat o označení dokumentu nebo spisu určitou značkou, která v textové podobě kombinuje různé číselné a jiné identifikační údaje zavedené agendou nebo organizací k systematickému označování dokumentů v rámci různých řad, knih nebo jiných evidencí.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sSpisovaZnacka">
		<xs:annotation>
			<xs:documentation>Položka vyjadřuje označení spisu.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sPodaciDenikPoradi">
		<xs:annotation>
			<xs:documentation>Pořadí v rámci roku (začíná od 1) a podacího deníku (či jiné evidenční pomůcky)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2147483647"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sPodaciDenikRok">
		<xs:annotation>
			<xs:documentation>Rok podacího deníku.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYear"/>
	</xs:simpleType>
	<xs:simpleType name="sPodaciDenik">
		<xs:annotation>
			<xs:documentation>Označení podacího deníku či jiné evidenční pomůcky ( většinou se pro označení využívá výstižná zkratka )</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sTypDokumentu">
		<xs:annotation>
			<xs:documentation>Popis typu dokumentu</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sPoznamka">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sDatumCasVytvoreni">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:attributeGroup name="gZdrojCil">
		<xs:attribute name="Zdroj" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="CS">Identifikuje Zdroj volání - volajícího.
						Při propojení ESSS a více AIS je nutné odlišit, kdo službu volá.
						Toto je primární identifikace volajícího systému.
						Pokud jsou XML data podepsána, potom podpis slouží jako další kontrola k této identifikaci volajícího.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Cil" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="CS">Identifikuje cíl volání - volaného.
						Volaná strana je již jednoznačně určena svou URL.
						Tento údaj slouží pro dodatečnou kontrolu, zda není omylem volána jiná instalace webové služby a tím i jiný systém.
						K omylům může dojít především mezi ostrou, provozní instalací a testovací.
						Identifikace volajícího má zabránit záměně např. testovací a ostré instalace.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="tProfilDokumentuSeznam">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Metadata entity ESSL zobrazované v seznamových funkcích.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:element name="BarCode" type="sBarCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="sNazev"/>
			<xs:element name="CisloJednaci" type="sCisloJednaci" minOccurs="0"/>
			<xs:element name="SpisovaZnacka" type="sSpisovaZnacka" minOccurs="0"/>
			<xs:element name="DatumCasVytvoreni" type="sDatumCasVytvoreni"/>
			<xs:element name="Poznamka" type="sPoznamka" minOccurs="0"/>
			<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tProfilSpisuSeznam">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Metadata entity ESSL zobrazované v seznamových funkcích.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifikator" type="tIdentifikator"/>
			<xs:element name="BarCode" type="sBarCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="sNazev"/>
			<xs:element name="CisloJednaci" type="sCisloJednaci" minOccurs="0"/>
			<xs:element name="SpisovaZnacka" type="sSpisovaZnacka" minOccurs="0"/>
			<xs:element name="DatumCasVytvoreni" type="sDatumCasVytvoreni"/>
			<xs:element name="Poznamka" type="sPoznamka" minOccurs="0"/>
			<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
