src/ermsAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.mvcr.cz/nsesss/2023/api"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://www.mvcr.cz/nsesss/2023/api">
	<types>
		<xs:schema>
			<xs:import namespace="http://www.mvcr.cz/nsesss/2023/api" schemaLocation="ermsIFSyn.xsd"/>
			<xs:import namespace="http://www.mvcr.cz/nsesss/2023/api" schemaLocation="ermsIFAsyn.xsd"/>
		</xs:schema>
	</types>
	<message name="ermsAsynRequestMessage">
		<part name="body" element="tns:ermsAsyn"/>
	</message>
	<message name="ermsAsynResponseMessage">
	  <part name="body" element="tns:ermsAsynResponse"/>
	</message>
	<message name="WsTestRequestMessage">
		<part name="body" element="tns:WsTestRequest"/>
	</message>
	<message name="WsTestResponseMessage">
		<part name="body" element="tns:WsTestResponse"/>
	</message>
	<message name="DokumentZalozeniRequestMessage">
		<part name="body" element="tns:DokumentZalozeniRequest"/>
	</message>
	<message name="DokumentZalozeniResponseMessage">
		<part name="body" element="tns:DokumentZalozeniResponse"/>
	</message>
	<message name="SpisZalozeniRequestMessage">
		<part name="body" element="tns:SpisZalozeniRequest"/>
	</message>
	<message name="SpisZalozeniResponseMessage">
		<part name="body" element="tns:SpisZalozeniResponse"/>
	</message>
	<message name="UdalostiRequestMessage">
		<part name="body" element="tns:UdalostiRequest"/>
	</message>
	<message name="UdalostiResponseMessage">
		<part name="body" element="tns:UdalostiResponse"/>
	</message>
	<message name="DokumentPostoupeniZadostRequestMessage">
		<part name="body" element="tns:DokumentPostoupeniZadostRequest"/>
	</message>
	<message name="DokumentPostoupeniZadostResponseMessage">
		<part name="body" element="tns:DokumentPostoupeniZadostResponse"/>
	</message>
	<message name="ProfilDokumentuZadostRequestMessage">
		<part name="body" element="tns:ProfilDokumentuZadostRequest"/>
	</message>
	<message name="ProfilDokumentuZadostResponseMessage">
		<part name="body" element="tns:ProfilDokumentuZadostResponse"/>
	</message>
	<message name="ProfilSpisuZadostRequestMessage">
		<part name="body" element="tns:ProfilSpisuZadostRequest"/>
	</message>
	<message name="ProfilSpisuZadostResponseMessage">
		<part name="body" element="tns:ProfilSpisuZadostResponse"/>
	</message>
	<message name="SouborZadostRequestMessage">
		<part name="body" element="tns:SouborZadostRequest"/>
	</message>
	<message name="SouborZadostResponseMessage">
		<part name="body" element="tns:SouborZadostResponse"/>
	</message>
	<message name="DavkySeznamRequestMessage">
		<part name="body" element="tns:DavkySeznamRequest"/>
	</message>
	<message name="DavkySeznamResponseMessage">
		<part name="body" element="tns:DavkySeznamResponse"/>
	</message>
	<message name="DavkaZadostRequestMessage">
		<part name="body" element="tns:DavkaZadostRequest"/>
	</message>
	<message name="DavkaZadostResponseMessage">
		<part name="body" element="tns:DavkaZadostResponse"/>
	</message>
	<message name="CiselnikZadostRequestMessage">
		<part name="body" element="tns:CiselnikZadostRequest"/>
	</message>
	<message name="CiselnikZadostResponseMessage">
		<part name="body" element="tns:CiselnikZadostResponse"/>
	</message>
	<message name="FunkcniMistaRequestMessage">
		<part name="body" element="tns:FunkcniMistaRequest"/>
	</message>
	<message name="FunkcniMistaResponseMessage">
		<part name="body" element="tns:FunkcniMistaResponse"/>
	</message>
	<message name="PrideleneSeznamRequestMessage">
		<part name="body" element="tns:PrideleneSeznamRequest"/>
	</message>
	<message name="PrideleneSeznamResponseMessage">
		<part name="body" element="tns:PrideleneSeznamResponse"/>
	</message>
  <message name="SpisPostoupeniZadostRequestMessage">
    <part name="body" element="tns:SpisPostoupeniZadostRequest"/>
  </message>
  <message name="SpisPostoupeniZadostResponseMessage">
    <part name="body" element="tns:SpisPostoupeniZadostResponse"/>
  </message>
  <message name="ProfilTypovehoSpisuZadostRequestMessage">
    <part name="body" element="tns:ProfilTypovehoSpisuZadostRequest"/>
  </message>
  <message name="ProfilTypovehoSpisuZadostResponseMessage">
    <part name="body" element="tns:ProfilTypovehoSpisuZadostResponse"/>
  </message>
  <message name="ProfilOsobyZadostRequestMessage">
    <part name="body" element="tns:ProfilOsobyZadostRequest"/>
  </message>
  <message name="ProfilOsobyZadostResponseMessage">
    <part name="body" element="tns:ProfilOsobyZadostResponse"/>
  </message>
  <message name="OsobaZalozeniRequestMessage">
    <part name="body" element="tns:OsobaZalozeniRequest"/>
  </message>
  <message name="OsobaZalozeniResponseMessage">
    <part name="body" element="tns:OsobaZalozeniResponse"/>
  </message>
  <message name="OsobaUpravaRequestMessage">
    <part name="body" element="tns:OsobaUpravaRequest"/>
  </message>
  <message name="OsobaUpravaResponseMessage">
    <part name="body" element="tns:OsobaUpravaResponse"/>
  </message>
  <message name="OsobySeznamRequestMessage">
    <part name="body" element="tns:OsobySeznamRequest"/>
  </message>
  <message name="OsobySeznamResponseMessage">
    <part name="body" element="tns:OsobySeznamResponse"/>
  </message>
  <message name="CiselnikySeznamRequestMessage">
    <part name="body" element="tns:CiselnikySeznamRequest"/>
  </message>
  <message name="CiselnikySeznamResponseMessage">
    <part name="body" element="tns:CiselnikySeznamResponse"/>
  </message>
  <message name="DokumentVraceniZadostRequestMessage">
    <part name="body" element="tns:DokumentVraceniZadostRequest"/>
  </message>
  <message name="DokumentVraceniZadostResponseMessage">
    <part name="body" element="tns:DokumentVraceniZadostResponse"/>
  </message>
  <message name="SpisVraceniZadostRequestMessage">
    <part name="body" element="tns:SpisVraceniZadostRequest"/>
  </message>
  <message name="SpisVraceniZadostResponseMessage">
    <part name="body" element="tns:SpisVraceniZadostResponse"/>
  </message>
  <message name="TypovySpisZalozeniRequestMessage">
    <part name="body" element="tns:TypovySpisZalozeniRequest"/>
  </message>
  <message name="TypovySpisZalozeniResponseMessage">
    <part name="body" element="tns:TypovySpisZalozeniResponse"/>
  </message>
  <portType name="PortSyn">
		<operation name="DokumentZalozeni">
			<input message="tns:DokumentZalozeniRequestMessage"/>
			<output message="tns:DokumentZalozeniResponseMessage"/>
		</operation>
		<operation name="SpisZalozeni">
			<input message="tns:SpisZalozeniRequestMessage"/>
			<output message="tns:SpisZalozeniResponseMessage"/>
		</operation>
		<operation name="Udalosti">
			<input message="tns:UdalostiRequestMessage"/>
			<output message="tns:UdalostiResponseMessage"/>
		</operation>
		<operation name="DokumentPostoupeniZadost">
			<input message="tns:DokumentPostoupeniZadostRequestMessage"/>
			<output message="tns:DokumentPostoupeniZadostResponseMessage"/>
		</operation>
		<operation name="ProfilDokumentuZadost">
			<input message="tns:ProfilDokumentuZadostRequestMessage"/>
			<output message="tns:ProfilDokumentuZadostResponseMessage"/>
		</operation>
		<operation name="ProfilSpisuZadost">
			<input message="tns:ProfilSpisuZadostRequestMessage"/>
			<output message="tns:ProfilSpisuZadostResponseMessage"/>
		</operation>
		<operation name="SouborZadost">
			<input message="tns:SouborZadostRequestMessage"/>
			<output message="tns:SouborZadostResponseMessage"/>
		</operation>
		<operation name="CiselnikZadost">
			<input message="tns:CiselnikZadostRequestMessage"/>
			<output message="tns:CiselnikZadostResponseMessage"/>
		</operation>
		<operation name="DavkaZadost">
			<input message="tns:DavkaZadostRequestMessage"/>
			<output message="tns:DavkaZadostResponseMessage"/>
		</operation>
		<operation name="DavkySeznam">
			<input message="tns:DavkySeznamRequestMessage"/>
			<output message="tns:DavkySeznamResponseMessage"/>
		</operation>
		<operation name="FunkcniMista">
			<input message="tns:FunkcniMistaRequestMessage"/>
			<output message="tns:FunkcniMistaResponseMessage"/>
		</operation>
		<operation name="PrideleneSeznam">
			<input message="tns:PrideleneSeznamRequestMessage"/>
			<output message="tns:PrideleneSeznamResponseMessage"/>
		</operation>
	  <operation name="SpisPostoupeniZadost">
      <input message="tns:SpisPostoupeniZadostRequestMessage"/>
      <output message="tns:SpisPostoupeniZadostResponseMessage"/>	    
	  </operation>
    <operation name="ProfilTypovehoSpisuZadost">
      <input message="tns:ProfilTypovehoSpisuZadostRequestMessage"/>
      <output message="tns:ProfilTypovehoSpisuZadostResponseMessage"/>
    </operation>
    <operation name="ProfilOsobyZadost">
      <input message="tns:ProfilOsobyZadostRequestMessage"/>
      <output message="tns:ProfilOsobyZadostResponseMessage"/>
    </operation>
    <operation name="OsobaZalozeni">
      <input message="tns:OsobaZalozeniRequestMessage"/>
      <output message="tns:OsobaZalozeniResponseMessage"/>
    </operation>
    <operation name="OsobaUprava">
      <input message="tns:OsobaUpravaRequestMessage"/>
      <output message="tns:OsobaUpravaResponseMessage"/>
    </operation>
    <operation name="OsobySeznam">
      <input message="tns:OsobySeznamRequestMessage"/>
      <output message="tns:OsobySeznamResponseMessage"/>
    </operation>
    <operation name="CiselnikySeznam">
      <input message="tns:CiselnikySeznamRequestMessage"/>
      <output message="tns:CiselnikySeznamResponseMessage"/>
    </operation>
    <operation name="DokumentVraceniZadost">
      <input message="tns:DokumentVraceniZadostRequestMessage"/>
      <output message="tns:DokumentVraceniZadostResponseMessage"/>
    </operation>
    <operation name="SpisVraceniZadost">
      <input message="tns:SpisVraceniZadostRequestMessage"/>
      <output message="tns:SpisVraceniZadostResponseMessage"/>
    </operation>
    <operation name="TypovySpisZalozeni">
      <input message="tns:TypovySpisZalozeniRequestMessage"/>
      <output message="tns:TypovySpisZalozeniResponseMessage"/>
    </operation>
	</portType>
	<portType name="PortAsyn">
		<operation name="ermsAsyn">
			<input message="tns:ermsAsynRequestMessage"/>
			<output message="tns:ermsAsynResponseMessage"/>
		</operation>
		<operation name="WsTest">
			<input message="tns:WsTestRequestMessage"/>
			<output message="tns:WsTestResponseMessage"/>
		</operation>
	</portType>
	<binding name="SoapBindingAsyn" type="tns:PortAsyn">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ermsAsyn">
			<soap:operation soapAction="ermsAsyn"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="WsTest">
			<soap:operation soapAction="WsTest"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="SoapBindingSyn" type="tns:PortSyn">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="DokumentZalozeni">
			<soap:operation soapAction="DokumentZalozeni"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SpisZalozeni">
			<soap:operation soapAction="SpisZalozeni"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Udalosti">
			<soap:operation soapAction="Udalosti"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DokumentPostoupeniZadost">
			<soap:operation soapAction="DokumentPostoupeniZadost"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ProfilDokumentuZadost">
			<soap:operation soapAction="ProfilDokumentuZadost"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ProfilSpisuZadost">
			<soap:operation soapAction="ProfilSpisuZadost"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SouborZadost">
			<soap:operation soapAction="SouborZadost"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CiselnikZadost">
			<soap:operation soapAction="CiselnikZadost"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="FunkcniMista">
			<soap:operation soapAction="FunkcniMista"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DavkySeznam">
			<soap:operation soapAction="DavkySeznam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DavkaZadost">
			<soap:operation soapAction="DavkaZadost"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="PrideleneSeznam">
			<soap:operation soapAction="PrideleneSeznam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	  <operation name="SpisPostoupeniZadost">
	    <soap:operation soapAction="SpisPostoupeniZadost"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>
	  <operation name="ProfilTypovehoSpisuZadost">
	    <soap:operation soapAction="ProfilTypovehoSpisuZadost"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>
	  <operation name="ProfilOsobyZadost">
	    <soap:operation soapAction="ProfilOsobyZadost"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>
	  <operation name="OsobaZalozeni">
	    <soap:operation soapAction="OsobaZalozeni"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>
	  <operation name="OsobaUprava">
	    <soap:operation soapAction="OsobaUprava"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>
	  <operation name="OsobySeznam">
	    <soap:operation soapAction="OsobySeznam"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>	  
	  <operation name="CiselnikySeznam">
	    <soap:operation soapAction="CiselnikySeznam"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>	  
	  <operation name="DokumentVraceniZadost">
	    <soap:operation soapAction="DokumentVraceniZadost"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>	  
	  <operation name="SpisVraceniZadost">
	    <soap:operation soapAction="SpisVraceniZadost"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>	  
	  <operation name="TypovySpisZalozeni">
	    <soap:operation soapAction="TypovySpisZalozeni"/>
	    <input>
	      <soap:body use="literal"/>
	    </input>
	    <output>
	      <soap:body use="literal"/>
	    </output>
	  </operation>	  
	</binding>
	<service name="ServiceSyn">
		<port name="Syn" binding="tns:SoapBindingSyn">
			<soap:address location="http://server:port/context/ermsAPI"/>
		</port>
	</service>
	<service name="ServiceAsyn">
		<port name="Asyn" binding="tns:SoapBindingAsyn">
			<soap:address location="http://server:port/context/ermsAPI"/>
		</port>
	</service>
	<!--
	<binding name="ermsSoapBindingAsyn" type="tns:ermsPortAsyn">
		<soap:binding style="document"
					  transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ermsAsyn">
			<soap:operation soapAction="ermsAsyn" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>

		<operation name="WsTest">
			<soap:operation soapAction="WsTest" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	-->
</definitions>
