src/ermsExportPrenos.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:isds="http://isds.czechpoint.cz/v20" xmlns="http://www.mvcr.cz/nsesss/2023/api"
  elementFormDefault="qualified" targetNamespace="http://www.mvcr.cz/nsesss/2023/api"
  id="ermsIFAsyn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      Schéma definující události a objekty vzniklé v jednom ERMS a přenášející se do ERMS druhého.
      Toto schéma popisuje synchroní výměnu událostí, např. formou webových služeb.
    </xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="dmBaseTypes.xsd" namespace="http://isds.czechpoint.cz/v20"/>
  <xs:import schemaLocation="nsesss-TrP.xsd" namespace="http://nsess.public.cz/erms_trans/v_01_01"/>
  <xs:include schemaLocation="ermsTypes.xsd"/>
  <xs:include schemaLocation="ermsAsynU.xsd"/>
  <xs:element name="ESslPrenos">
    <xs:annotation>
      <xs:documentation>Root element pro přenos dat jednotlivých entit mezi IS typu spisová služba
Určeno pro off-line přenost dat mezi systém ISSD.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="gExportPrenosSpolecne"/>
        <xs:element name="Autorizace" type="tAutorizace"/>
        <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData"/>
      </xs:sequence>
      <xs:attributeGroup ref="gZdrojCilDavkaPoradi"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESslExport">
    <xs:annotation>
      <xs:documentation>Root element pro export a následný import dat jednotlivých entit mezi IS typu spisová služba.
Určeno pro off-line předání dat mezi systém ISSD.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="gExportPrenosSpolecne"/>
        <xs:element name="Autorizace" type="tAutorizace"/>
        <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData"/>
      </xs:sequence>
      <xs:attributeGroup ref="gZdrojDavkaPoradi"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="EssSeznamUzivatelu">
    <xs:annotation>
      <xs:documentation>Root element pro export a následný import dat uživatelů mezi IS typu spisová služba.
Určeno pro off-line předání dat mezi systémy ISSD.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="Uzivatel" type="tProfilUzivateleSeznam"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="gExportPrenosSpolecne">
    <xs:sequence>
      <xs:choice>
        <xs:element name="TypovySpis">
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="gTypovySpis"/>
              <xs:element minOccurs="0" name="Udalosti">
                <xs:annotation>
                  <xs:documentation>Události transakčního protokolu této entity spisové služby - typového spisu.
Neobsahuje události vložených entit - ty se exportují v rámci samostatných XML souborů popisující jednotlivé entity.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element xmlns:q1="http://nsess.public.cz/erms_trans/v_01_01" name="Udalost"
                      type="q1:tUdalostObjektu"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Spis">
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="gProfilSpisu"/>
              <xs:element minOccurs="0" name="Udalosti">
                <xs:annotation>
                  <xs:documentation>Události transakčního protokolu této entity spisové služby - spisu.
Neobsahuje události vložených entit - ty se exportují v rámci samostatných XML souborů popisující jednotlivé entity.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element xmlns:q1="http://nsess.public.cz/erms_trans/v_01_01" name="Udalost"
                      type="q1:tUdalostObjektu"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Dokument">
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="gProfilDokumentu"/>
              <xs:element minOccurs="0" name="Udalosti">
                <xs:annotation>
                  <xs:documentation>Události transakčního protokolu této entity spisové služby - dokumentu.
Měl by obsahovat i události spojené s obsaženými komponentami tohoto dokumentu.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element xmlns:q1="http://nsess.public.cz/erms_trans/v_01_01" name="Udalost"
                      type="q1:tUdalostObjektu"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Soubor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Identifikator" type="tIdentifikator"/>
              <xs:element name="AktualniVerze" type="tTransferFileLocation">
                <xs:annotation>
                  <xs:documentation>Aktuálně platný obsah souboru/komponenty.
Většinou se přenáší pouze poslední verze souboru.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="StareVerze">
                <xs:annotation>
                  <xs:documentation>Staré verze souboru/komponenty.
Většinou se mezi systémy nepřenáší. Pokud je v rámci implentace požadováno, potom se uvedou i starčí verze obsahů souboru/komponenty dokumentu.
Pozor: Starší verze souboru/komponenty mohou mít jiné přípony a tedy i jiné jméno souboru. Např. z pracovní verze ve formátu Word se před odesláním konverzí stane PDF a následně i PDF soubor po doplnění podpisů získá novou verzi atd..</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element name="StraraVerze" type="tTransferFileLocation"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Udalosti">
                <xs:annotation>
                  <xs:documentation>Události transakčního protokolu této entity spisové služby.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element xmlns:q1="http://nsess.public.cz/erms_trans/v_01_01" name="Udalost"
                      type="q1:tUdalostObjektu"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="EssPrenosovaDavka">
    <xs:annotation>
      <xs:documentation>Soubor popisující obsah celé přenosové dávky ve formátu ZIP
Tento soubor musí být v root adresáři ZIPu se jménem EssPrenosovaDavka.XML
Ostatní datové soubory obsažené v ZIP souboru budou uvedena v podadresářích.
Tento soubor dokumentu vznik případně určení dávky a dále popisuje obsah dávky.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DavkaId">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="40"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="DatumCasVytvoreni" type="sDatumCasVytvoreni">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Čas vzniku přenosové dávky</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Zdroj" type="sIdInformacnihoSystemu">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Zdroj interního identifikátoru:
Zde uvedený text by měl jednoznačně specifikovat zdroj uvedeného identifikátoru.

</xs:documentation>
            <xs:documentation>NS z roku 2023 požadavek č.8.1.2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Cil" type="sIdInformacnihoSystemu"/>
        <xs:element minOccurs="0" name="Puvodce" type="tAdresat"/>
        <xs:element minOccurs="0" name="UcelDavky" type="xs:string"/>
        <xs:element minOccurs="0" name="Poznamka" type="xs:string"/>
        <xs:element name="Obsah">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="File">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PoradiVDavce">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="RelativePath" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Relativní cesta k souboru s binárním obsahem komponenty.
Relativní cesta je vztažena k lokaci načítaného XML souboru s daty dokumentu.
Standardně se bude jednat o podadresář např. data nebo komponenty atd. </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="FileName" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Jméno pomocného souboru použitého pro přenos nebo export binárního obsahu komponenty.
Jméno souboru standardně nebude odpovídat jménu komponenty evidované u přenášeného souboru. 
Ani přímona souboru nemusí odpovídat skutečné příponě komponety.
Standardně se bude jednat o strojně generovaný název např. s příponou .bin nebo .dat 
Jediné zásadní je zachovat unikátnost názvů přenášených souborů v rámci celé exportované nebo přenášené dávky.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="FileHash" type="xs:string"/>
                    <xs:element name="FileHashAlgorithm" type="xs:string"/>
                    <xs:element name="TypEntity">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="TypovySpis"/>
                          <xs:enumeration value="Spis"/>
                          <xs:enumeration value="Dokument"/>
                          <xs:enumeration value="Soubor"/>
                          <xs:enumeration value="BinarniSoubor"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="IdEntity" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Identifikace entity podle systému původce. 
Přesné identifikace entit jsou obsaženy v každmé jednom obsaženém specifickém XML souboru. 
Zde uvedené ID má především přehledovou funkci pro uživatele, který dávku generoval nebo se chystá d8vku načítat.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EssPrenosPotvrzeni">
    <xs:annotation>
      <xs:documentation>Formát XML souboru, který se v rámci off-line přenosu dat používá pro potvrzení úspěšného přenosu dat. Na základě tohoto potvrzení zdrojový systém může realizovat mazání dat atd..</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DatumCasPotvrzeni" type="sDatumCasVytvoreni">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Čas vzniku přenosové dávky</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ZdrojPotvrzeni" type="sIdInformacnihoSystemu">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Zdroj interního identifikátoru:
Zde uvedený text by měl jednoznačně specifikovat zdroj uvedeného identifikátoru.

</xs:documentation>
            <xs:documentation>NS z roku 2023 požadavek č.8.1.2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CilPotvrzeni" type="sIdInformacnihoSystemu"/>
        <xs:element minOccurs="0" name="PuvodcePotvrzeni" type="tAdresat"/>
        <xs:element name="PotvrzovanaDavka">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DavkaId">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="40"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Cil" type="sIdInformacnihoSystemu"/>
              <xs:element name="Zdroj" type="sIdInformacnihoSystemu">
                <xs:annotation>
                  <xs:documentation xml:lang="CS">Zdroj interního identifikátoru:
Zde uvedený text by měl jednoznačně specifikovat zdroj uvedeného identifikátoru.

</xs:documentation>
                  <xs:documentation>NS z roku 2023 požadavek č.8.1.2</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Poznamka" type="xs:string"/>
        <xs:element name="StatusPrenosu">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="nacteno"/>
              <xs:enumeration value="castecneNacteno"/>
              <xs:enumeration value="nenacteno"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StatusEntit">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StatusEntity">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PoradiVDavce">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="TypEntity">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="TypovySpis"/>
                          <xs:enumeration value="Spis"/>
                          <xs:enumeration value="Dokument"/>
                          <xs:enumeration value="Soubor"/>
                          <xs:enumeration value="BinarniSoubor"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="IdEntity" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Identifikace entity podle systému původce. 
Přesné identifikace entit jsou obsaženy v každmé jednom obsaženém specifickém XML souboru. 
Zde uvedené ID má především přehledovou funkci pro uživatele, který dávku generoval nebo se chystá d8vku načítat.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="StatusPrenosu">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="nacteno"/>
                          <xs:enumeration value="nenacteno"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
