src/ermsIFSyn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:isds="http://isds.czechpoint.cz/v20" xmlns="http://nsess.public.cz/erms/v_02_00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nsess.public.cz/erms/v_02_00" elementFormDefault="qualified" id="ermsIFAsyn">
  <xs:annotation>
    <xs:documentation>Schéma definující události a objekty vzniklé v jednom ERMS a přenášející se do ERMS druhého. Toto schéma popisuje synchroní výměnu událostí, např. formou webových služeb.</xs:documentation>
  </xs:annotation>
	<xs:import namespace="http://isds.czechpoint.cz/v20" schemaLocation="dmBaseTypes.xsd"/>
	<xs:include schemaLocation="ermsTypes.xsd"/>
	<xs:include schemaLocation="ermsAsynU.xsd"/>
	<xs:complexType name="tUdalostiSyn">
		<xs:sequence maxOccurs="10">
			<xs:group ref="gUdalost"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DokumentZalozeniRequest">
		<xs:annotation>
			<xs:documentation>Zaevidování nového přijatého nebo vlastního dokumentu vzniklého v agendě.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UdalostiPredchazejici" type="tUdalostiSyn" minOccurs="0"/>
				<xs:element name="ProfilDokumentu" type="tProfilDokumentu">
					<xs:annotation>
						<xs:documentation xml:lang="CS">V případě založení dokumentu se předpokládá pro položku StavSpisu povolená hodnota pouze "nevyrizen".
Položky DatumCasVyrizeni, DatumCasUzavreni, DatumCasPredaniDoSpisovny, DatumCasPredaniDoArchivuNeboStornovani se v této situaci neuvádějí.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
				<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentZalozeniResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfilDokumentu" type="tProfilDokumentu" minOccurs="0"/>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisZalozeniRequest">
		<xs:annotation>
			<xs:documentation>Založení spisu nad dokumentem. Je možné založit celý spis i s dokumenty v něm, nebo je spis založen nad existujícím dokumentem.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UdalostiPredchazejici" type="tUdalostiSyn" minOccurs="0"/>
				<xs:element name="ProfilSpisu" type="tProfilSpisu">
					<xs:annotation>
						<xs:documentation xml:lang="CS">V případě založení spisu se předpokládá pro položku StavSpisu povolená hodnota pouze "nevyrizen".
Položky DatumCasVyrizeni, DatumCasUzavreni, DatumCasPredaniDoSpisovny, DatumCasPredaniDoArchivuNeboStornovani se v této situaci neuvádějí.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
				<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisZalozeniResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfilSpisu" type="tProfilSpisu" minOccurs="0"/>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UdalostiRequest">
		<xs:annotation>
			<xs:documentation>Pozadavek na synchronni zpracovani udalosti.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Udalosti" type="tUdalostiSyn"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UdalostiResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Zpravy">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element ref="Zprava"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentPostoupeniZadostRequest">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Volání WS s žádostí o postoupení dokumentu z ESSL do výhradní správy ISSD.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdDokument" type="tIdDokument"/>
				<xs:element name="Autorizace" type="tAutorizace">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Identifikace osoby, která žádá o postoupení dokumentu. Tato osoba se v případě postoupení stane aktuálním vlastníkem postoupeného dokumentu.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentPostoupeniZadostResponse">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Odpověď na volání webové služby s požadavkem na postoupení ( předání do výhradní správy ) zadaného dokumentu.
Odpověď obsahuje kompletní popis postupovaného dokumentu nebo číselný a textový popis chyby. 
Volaný systém může posuzovat oprávnění přístupu uživatele k zadanému dokumentu a žádost může zamítnout tak, že vrátí místo postoupeného dokumentu chybový kód 0001 - Nedostatečná oprávnění
Za chybu je považována žádost o postoupení dokumentu, který není ve volaném systému obsažen ( na základě zadaného identifikátoru ).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfilDokumentu" type="tProfilDokumentu" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Kompletní popis postupovaného dokumentu. 
											Tento popis obsahuje také všechny vložené obrazy elektronických dokumentů, které jsou s postupovaným dokumentem spojeny.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfilDokumentuZadostRequest">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Volání WS s žádostí o poskytnutí detailních informací o dokumentu.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdDokument" type="tIdDokument"/>
				<xs:element name="Autorizace" type="tAutorizace">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Identifikace osoby, která žádá o informace o dokumentu. 
Tento údaj může volaný systém využít k posouzení přístupových práv k dokumentu.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfilDokumentuZadostResponse">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Odpověď na volání webové služby s žádostí o poskytnutí detailních informací o dokumentu.
Odpověď obsahuje kompletní popis dokumentu nebo číselný a textový popis chyby. 
Za chybu je považována žádost o informace o dokumentu, který není ve volaném systému obsažen ( na základě zadaného identifikátoru ).
Volaný systém může posuzovat oprávnění přístupu uživatele k zadanému dokumentu a žádost může zamítnout tak, že vrátí místo profilu dokumentu chybový kód 0001 - Nedostatečná oprávnění.
	</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfilDokumentu" type="tProfilDokumentu" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Kompletní popis dokumentu.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfilSpisuZadostRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdSpisu" type="tIdSpisu"/>
				<xs:element name="Autorizace" type="tAutorizace">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Identifikace osoby, která žádá o informace o spisu. 
Tento údaj může volaný systém využít k posouzení přístupových práv k dokumentu.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfilSpisuZadostResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfilSpisu" type="tProfilSpisu" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Kompletní popis spisu.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SouborZadostRequest">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Žádost o získání obsahu zadaného elektronického souboru.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Soubor" type="tFileId"/>
				<xs:element name="Autorizace" type="tAutorizace">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Identifikace osoby, která žádá o obsah elektronického souboru.
Tento údaj může volaný systém využít k posouzení přístupových práv k obsahu elektronického souboru.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SouborZadostResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Soubor" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="CS">El. soubor (příloha) navázaný k dokumentu nebo dokumentům. </xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="false">
						<xs:complexContent>
							<xs:extension base="tFile"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CiselnikZadostRequest">
		<xs:annotation>
			<xs:documentation xml:lang="CS">Žádost o poskytnutí číselníku. Služba není povinná, každý ERMS si má možnost určit typ a obsah číselníků, které bude zpřístupňovat protistraně.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Kod" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Kód číselníku. Zpravidla obsahuje název elementu ze schématu rozhraní, pro který je potřeba dotáhnout povolené hodnoty. Tedy např. 'TypDokumentu', 'SkartacniRezim' apod. Jaké typy číselníků si budou ERMS mezi sebou vyměňovat záleží na vzájemné dohodě.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace" minOccurs="1">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Identifikace osoby, která volá službu pro načtení číselníku.
            </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Dopňující data mohou sloužit k předání kritérií pro výběr určité podmnožiny číselníku.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CiselnikZadostResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Kod" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Kód číselníku. Zpravidla obsahuje název elementu ze schématu rozhraní, pro který je potřeba dotáhnout povolené hodnoty. Tedy např. 'TypDokumentu', 'SkartacniRezim' apod. Jaké typy číselníků si budou ERMS mezi sebou vyměňovat záleží na vzájemné dohodě.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Polozky">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Seznam položek číselníku.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Polozka" type="tPolozkaCiselniku" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
				<xs:element name="OperaceStatus" type="tOperaceStatus">
					<xs:annotation>
						<xs:documentation xml:lang="CS">
                Status operace získání číselníku. Vrácení číselníku může být odmítnuto například z důvodu nedostatečných oprávnění uživatele nebo volajícího ERMS k číselníku.
            </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DavkySeznamRequest">
		<xs:annotation>
			<xs:documentation>Požadavek na seznam připravených nepotvrzených dávek událostí pro ISSD.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DavkySeznamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Davka" type="tDavka" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DavkaZadostRequest">
		<xs:annotation>
			<xs:documentation>Žádost o zaslání dávky událostí pro ISSD.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element name="Davka" type="tDavka" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DavkaZadostResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Udalosti" nillable="true" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="CS">2016-06-15 Změna z minOccurs="1" na minOccurs="0"</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:group ref="gUdalost"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Zpravy" nillable="true" minOccurs="0">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element ref="Zprava"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="gDavkaInfo"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FunkcniMistaRequest">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Požadavek na zjištění funkčních míst konkrétního uživatele</xs:documentation>
			<xs:documentation xml:lang="CS">2016-06-15 Změna z minOccurs="0" na  minOccurs="1" u atributů Zdroj a Cil</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FunkcniMistaResponse">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověď obsahuje seznam funkčních míst uživatele. Hlavní funkční místo by mělo 
být na první pozici seznamu.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FunkcniMista" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FunkcniMisto" type="FunkcniMistoType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FunkcniMistoType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Funkční místo uživatele v organizačním schématu</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FunkcniMistoNazev">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zobrazitelný název funkčního místa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FunkcniMistoKod">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Jednoznačný identifikátor funkčního místa v organizaci</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrideleneSeznamRequest">
		<xs:annotation>
			<xs:documentation>Požadavek na seznam přidělených dokumentů/spisů ke zpracování uživatele ESSL (provedlKdo). Funkce vrací v jedné odpovědi (response) maximálně 100 záznamů. Je=li vráceno právě 100 záznamů, je nutné pro získání kompletního seznamu volat funkci opakovaně s uvedeným parametrem odZaznamu (např.101, 201 atd.)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Drzeni" nillable="false" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Vracet všechny entity uživatele v držení eSSL i ISSD, nebo pouze ty ve výhradním držení eSSL.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="vse"/>
							<xs:enumeration value="essl"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="odZaznamu" type="xs:integer" minOccurs="0">
					<xs:annotation>
						<xs:documentation>od kolikátého záznamu</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pocetZaznamu" minOccurs="0">
					<xs:annotation>
						<xs:documentation>kolik záznamů (maximálně 100)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace">
					<xs:annotation>
						<xs:documentation xml:lang="CS">Identifikace osoby, která žádá o obsah elektronického souboru.
		Tento údaj může volaný systém využít k posouzení přístupových práv k obsahu elektronického souboru.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="gZdrojCil"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrideleneSeznamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Pridelene" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="Dokument" type="tProfilDokumentuSeznam" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Spis" type="tProfilSpisuSeznam" minOccurs="0" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
